[2013-10-22 13:45] bzelli opened #15 "Using vs 2010 and it is telling me it can't open the csproj"

[2013-10-22 19:42] BungletEuropa opened #16 "Is there a VS 2010 version download still available somewhere?"
I saw this at SQLPASS last week - it looks brilliant and I would like to give it a workout....
Is there VS 2010 version download still available somewhere?

[2014-02-17 05:57] waynebrantley opened #34 "If connectionstrings have a backslash in them, app crashes"
If connectionstrings have a backslash in them, like server\instance, it crashes.  Using server\\instance works.

[2014-02-28 19:02] DaniSQL opened #35 "When using AD authentication I get Access denied :("
When using AD authentication instead of giving everyone using "alladmin" I was able to login and see the Hub and Dashboard but the SQL dashboard gives me Access Denied :( error. The account running the app and the one I use to login has access to the SQL Instances. I also included AD group that the account is member of in the ViewGroup setting in web.config.

What am I missing? Has anyone seen thi

[2014-02-28 19:18] DaniSQL opened #36 "Details not showing up properly for clustered instances"
For standalone instances Opserver is working great, showing the status of the server on the main SQL dashboard and also when i drill down to each server I see many details. But for clustered nodes some columns in the SQL Dashboard are missing even listing the state as "Offline" and the quorum state as unknown. Also when i drill down to each instance Performance, Size and Cache information are miss

[2014-03-31 13:10] eXeLe opened #43 "How to Intsall/Run"
Hello!
I didn't work with C#/MVS before and can't understand, how should I Install/Run it.
I made a Web Depoly Package, deployed it in IIS as Default Web Site/OPServer, renamed security config (as Web.config asks me) and fixed security config for my subnet, but then if I trying to open http://localhost/OPServer I'm getting 404 error as 'No content found'.
http://localhost/OPServer/Global.asax not

[2014-05-21 05:31] zenmaster24 opened #48 "AD Authentication + SQL server + Elastic server issues"
Hi,

I have AD authentication turned on but it doesnt seem to be working. I have tried logging in with just %username%, %username%@%domain.suffix% and %domain%\%username%.
The problem is when I log in, I get the 'Uh oh! No Configuration!' error.

I have set in the web config the following keys:

      <add key="ViewGroups" value="Domain Admins" />
      <add key="AdminGroups" value="Domain Admins"

[2014-05-22 03:15] zenmaster24 opened #50 "SQL Instance Jobs and View Configuration"
Hi,

I have Opserver looking at an SQL instance - it seems to pull data ok, but it shows me some jobs are unhealthy - should i be able to see these jobs when I click on the unhealthy/ healthy link next to Jobs when in the Instance tab?

Also, the view configuration link does not seem to do anything - should something pop-up or display?

Thanks

[2014-06-19 23:43] MatteoSp opened #52 "SqlServer: extending instance configuration"
I'd like to extend the instance configuration system, specifying - for example - one (or more) database name not be monitored (it's ok sometimes to have a db offline, in these cases seeing the issue it's really noisy and disturbing).

Not sure about how to proceed: those new settings could be necessary at classes like SQLDatabaseInfo, which are singleton scoped and serve many different SqlInstance

[2014-10-28 14:34] stijnherreman opened #71 "sys.dm_exec_connections returns local server time, not UTC"
`sys.dm_exec_connections` returns timestamps in local server time, so when a server is not set to UTC, `/sql/connections` will report wrong information like "Login in 59 minutes" and "Connected in 24 minutes".

[2015-01-08 15:00] lutzee opened #74 "Dashboard Configuration"
Hi, I have installed Opserver in a test environment but I am failing to understand how exactly the dashboard works.

The example screenshots appear to show monitoring of some basic information about servers however I do not understand how these are configured.

I have SQL and Redis monitoring configured, should these also be showing up on the dashboard automatically?
![image](https://cloud.githubu

[2015-02-06 08:42] Krud commented on #74
A provider is required if you want to use the dashboard. You can use the individual monitoring tabs, if you have such requirements (We're currently only using the SQL functionality). If you want a dashboard displaying more aggregated data about CPU usage, memory usage, networking alerts and the like, you'll need a provider for it. If you have a look at the Bosun branch, a start has been made at re

[2015-02-25 20:02] #50 closed

[2015-02-25 20:03] #48 closed

[2015-02-25 20:03] #36 closed

[2015-03-05 04:20] jdkang opened #80 "InternalNetworks with AD security provider"
When I visit  `/hub` on an intended dashboard I simply get a "no config" error.

The roles being assigned in `/about` are **Anonymous, InternalRequest**

`securitysettings.config` looks like:

[code]
and `web.config` looks like
[code]

`/admin/errors` shows no errors.

AD Logins work OK

Currently only have SQL provider setup and running OK when logged in.

[2015-03-16 19:04] JAHarley opened #81 "security.config"
I'm thinking I'm running into environment issues but thought I'd check here too.   I've deployed and when I browse I get an error on the security config file because it has the .example extension so I expected that.  But when I make a copy and remove the .example extension I get a 404 error.  Any thoughts why?

[2015-05-01 17:32] kpirlo commented on #74
Hey Krud,
  I am trying to use the bosun branch, but i do not see how you configure it for bosun. The example dashboardSettings.json still lists Orion information under providers? Is there an example of what needs configured to connect OpServer to bosun?

[2015-05-07 14:09] Hsingh79 opened #83 "Need .json file to monitor AD Server & DNS Server"
Hello,

I Installed & Configured OPServer for my SQL Server through "SQLSettings.json.example" file and It is working perfect. I am not from programming filed so I need help.
I need .json files like "SQLSettings.json.example". I want to add and Monitor my AD (windows active directory) server & DNS Server as well as other servers (File Server, Print Server, Web Serevr or a Normal Server) in my netw

[2015-05-24 20:32] bmmathe opened #84 "TeamCity support?"
There is a TeamCity settings json file yet I couldn't find a controller for builds or TeamCity.
It looks like there is code to support connecting to the TeamCity rest API and gathering information about builds but no view for it.  Is this coming in a later release?

[2015-05-24 21:57] NickCraver commented on #84
They are present, but in a very simplistic way: adding build dots and info to server charts. Now that TC 9 is out and we're fully on nested builds I can support a pattern for builds rather than a list of the old/unintuitive "btNN" format. For example we can do `ProjectName_Folder_*` maps to `X` server group and all builds in that folder show up there. Possibly with a regex for include/exclude sinc

[2015-05-28 17:22] soulrenger opened #85 "can redis be set with same port different servers?"
Can this redis monitor be set with same port but different ip address and server name?I tried a lot of config but always get errors when reading the other redis status,Could you give a example of the right way to config it ?Thanks a lot.

[2015-06-19 13:08] justinvaldez opened #86 "Performance stats don't gather when using instance names"
I've been working with this for a couple months and it seems that regardless of what attempts I make to reconfigure the Instance name or other options, I cannot get the performance stats to show up on servers that have named instances. If it uses the default instance I get all the data I would expect to get.

Wondering if this has to do with some of the instance issues other people have had. Also

[2015-06-24 12:47] enmik opened #87 "Bosun integration in Opserver"
We are currently using Opserver and are planning to test Bosun. However, the Bosun branch seems to be rather stale, are there are plans to integrate it into the master branch?

[2015-07-01 05:41] fengzijun opened #88 "csc2.exe exit，code is -532462766 Opserver.Core"
The error is csc2.exe exit,code is -532462766  when I use vs2013 to open this project and bulid it . How to fix it ?

[2015-07-01 07:38] mushroomsir opened #89 "The Compiler throw an error and exit 'csc2.exe stop work' when building opserver project."
Environment  vs2013 update 2.
Error	1	"csc2.exe" exited with code -532462766.	Opserver.Core.

[2015-07-07 18:19] kwilson1030 commented on #86
In the SQLInstance,cs file add

            if (name.Contains('\\'))
            {
                ObjectName = objectName.IsNullOrEmptyReturn(objectName, "MSSQL$" + name.Split('\\')[1]);
            }
            else
            {
                ObjectName = objectName.IsNullOrEmptyReturn(objectName, "SQLServer");
            }
to the SQLInstance function. Around line 40.
This is probably not t

[2015-07-15 08:17] AhmedRagheb opened #93 "SQL CPU Graph Not Displayed"
SQL servers monitoring not display CPU graph for both standalone and cluster
Note: i get the latest version.

[2015-07-16 09:11] AhmedRagheb commented on #93
i replace SQLCPUSpark function with this code

public ActionResult SQLCPUSpark(string node)
        {
            var instance = SQLInstance.Get(node);
            if (instance == null) return ContentNotFound("SQLNode not found with name = '" + node + "'");

            var dataPoints = instance.CPUHistoryLastHour;
            var chart = new Chart();
            var area = new ChartArea();

[2015-07-16 09:12] AhmedRagheb commented on #93
i replace SQLCPUSpark with this

        public ActionResult SQLCPUSpark(string node)
        {
            var instance = SQLInstance.Get(node);
            if (instance == null)
                    return ContentNotFound("SQLNode not found with name = '" + node + "'");

            var dataPoints = instance.CPUHistoryLastHour;
            var chart = new Chart();
            var area = new Chart

[2015-07-16 09:12] #93 closed

[2015-07-17 08:52] validide commented on #89
Had a similar issue when starting this under IIS but it got solved after updating the NuGet packages

[2015-07-20 16:40] mushroomsir commented on #89
Thank you for your answers, that's right.

[2015-07-22 01:59] #89 closed

[2015-07-22 02:00] NickCraver commented on #89
@mushroomsir can you please confirm latest works please? Days are packed right now so Opserver hasn't gotten a lot of love recently but hoping time frees up in the next month or so.

[2015-07-22 02:01] NickCraver commented on #88
Can you try with latest please? The updated (RTM) Roslyn packages should resolve this issue.

[2015-07-22 02:02] NickCraver commented on #87
We are currently working through OpenTSDB scaling issues here (which we've just made a major breakthrough on). The plan is to swap Orion into a branch and Bosun to become the master. The only holdup was OpenTSDB performance which we have ways to work around now.

[2015-07-22 02:09] NickCraver commented on #85
Yes, absolutely. The `Servers` section can specify instances per-server. I've updated the example config in the commit above.

For reference, here's an example minimal `RedisSettings.json`:

    {
      "Servers": [
        { "name": "ny-redis01" },
        { "name": "ny-redis02" },
        {
          "name": "ny-mlredis01",
          "instances": [ { "name": "Machine Learning", "port": "6379" }

[2015-07-23 06:04] mushroomsir commented on #89
Yes it's working after update all NuGet packages.

[2015-07-23 10:44] NickCraver commented on #89
Alrighty, thanks!

[2015-07-27 09:37] rajder commented on #87
What were the scaling issues you found?
We are only monitoring ~10 machines yet, with Bosun + Opserver running on two quite weak virtual machines which is working fine for now but I suspect we will need to scale up later.

[2015-07-28 03:26] jachin84 opened #95 "Authenticatio without AD"
Is it possible to do authentication without AD using local user accounts?

[2015-07-28 22:09] fallenidol opened #96 "DATABASE INSTANCES BREAK LINKS"
If sql databases are specified in the settings with their instance names (i.e. MYSERVER\SQL2012) then this break some of the links....the databases jobs link for instance...404 error.

[2015-07-28 22:27] fallenidol opened #97 "Divide By Zero Error"
SQLINstance.Database.cs

These 2 lines cause divide by zero errors sometimes...when NumReads and NumWrites is 0....

            public double AvgReadStallMs { get { return StallReadMs / NumReads; } }
            public double AvgWriteStallMs { get { return StallWriteMs / NumWrites; } }

[2015-08-04 01:32] #35 closed

[2015-08-04 01:33] NickCraver commented on #97
This should be fixed if you grab latest - thanks!

[2015-08-04 01:48] NickCraver commented on #95
It's not possible at the moment - you are talking local Windows user accounts right? I'm not sure how you'd make groups work *well* in that case either. There are some not-so-friendly bits there...but I see no overall reason local users can't be another authentication provider (this is already extensible).

[2015-08-04 01:49] #88 closed

[2015-08-04 01:56] NickCraver commented on #87
The problems we're running into are queries with high tag cardinality in OpenTSDB. We're currently running denormalization on CPU and Memory metrics to make these a few orders of magnitude faster. It's different enough that I probably need to scrap the branch and re-do it though. Since it's a metric instead of tag denormalization a lot of the code assumptions fetching metrics are no longer valid.

[2015-08-04 02:22] #97 closed

[2015-08-04 06:57] rajder commented on #87
Ok. I suppose fetching data for all hosts in the same query does not scale well with the number of hosts? I don't see any problems at ~10 monitored nodes, how many nodes are you monitoring? I am tempted to try solving the problem by simply fetching a single host for each query but since I don't see any performance issues it would probably be better to let you sort it out :)
If you choose to contin

[2015-08-05 18:24] jrammalaere opened #99 "Database count for one of our instances is WAY off."
<img width="1071" alt="opserver-dbs" src="https://cloud.githubusercontent.com/assets/3943822/9094112/130aa7a4-3b7e-11e5-8ee0-904f9f4d23be.png">

I have just installed Opserver in my production environment and one of my instances is reporting that it has "10566571 Healthy" databases on it when it really only has 898.  I have looked through the code a little bit and I can't seem to find where it is

[2015-09-09 18:31] Janiels commented on #87
Sorry for the bump, but what is the progress on this?

[2015-09-18 10:40] NickCraver commented on #87
We have just (hopefully) resolved our instability issues around HBase (which is what OpenTSDB runs on top of). There will be changes come in the next few weeks in both Bosun and Opserver that will allow me to have a full provider based on it. I'll be including both providers in the main branch (and have 2 different *types* of providers) which allows people to still use Orion if they want, rather t

[2015-09-18 20:07] Janiels commented on #87
That is great! Thanks for the update.

[2015-09-23 02:31] #95 closed

[2015-09-23 02:36] NickCraver commented on #83
Hi @Hsingh79,
This wasn't possible before without Orion, but I have now merged in the WMI provider and am starting on the Bosun provider (we're doing a lot of Bosun-side work as well). If you only need to monitor Windows systems, grab the latest code and you can now stick in a specific host list to monitor via the WMI provider. Just uncomment that section out and swap it for Orion.

The examples a

[2015-09-23 02:36] #85 closed

[2015-09-23 10:20] #43 closed

[2015-09-29 11:10] surgicalcoder opened #101 "Caches returns nothing, resulting in Access denied etc."
Occasionally, will get random "Access Denied" when on a page, doing a few refreshes will result in things working again - can lead to uncertainty, i.e. "Did I take that server out of the HAProxy pool?"

Managed to catch it in the act, screenshots attached:

![screenshot_313](https://cloud.githubusercontent.com/assets/1169543/10162437/1bd81e8e-66a3-11e5-863b-a3f3c2a8c231.png)
![screenshot_312](http

[2015-09-29 12:42] NickCraver commented on #101
Can you check your windows event log? That's looking like an app restart at first glance - you can check app uptime in just `/about` as well.

[2015-10-15 14:17] TheRockStarDBA commented on #86
I have the same problem. I tried what @kwilson1030 suggested, but it is breaking.

[2015-11-24 17:37] JV084 opened #105 "Views, Blitz Index, Storage, Missing Index and Unused Index does no work"
Hi,

I have already installed WhoisActive, Blitz and BlitzIndex but it seem that the this features don't work.

Thanks a lot!

[2015-11-30 23:20] surgicalcoder commented on #101
Turns out Opserver is hammering CPU (under powered machine), moved to larger machine, issue no longer seen!

[2015-11-30 23:20] #101 closed

[2016-01-10 04:22] mmillican commented on #105
Just was looking at this the other day.  If you look at the code, there's no actual support for it it seems.  The links seem to be there as placeholders, because they are set to disabled [Databases.Modal.cshtml#L76](https://github.com/opserver/Opserver/blob/master/Opserver/Views/SQL/Databases.Modal.cshtml#L76).

Not sure what their plans are for this.

[2016-01-24 12:19] yuzukwok opened #109 "Can 'StackExchange.Elastic' be compatible with Elastic Search 2.0?"
HI, I'm using OpServer with  Elastic Search 2.0 . It doesnot work well.When I debug the code of OpServer,I found that some deserialize exception  throw by 'StackExchange.Elastic'.  Is StackExchange.Elastic  a open source project? I want to fix  this problem that bothers me.

[2016-01-24 13:22] NickCraver commented on #109
So a bit of a yes and no answer here. Yes this is fixed [in the overhaul branch](https://github.com/opserver/Opserver/commits/overhaul), but I still need to wrap a few things up there before it goes into master (mainly /hub and SQL table rows). Under extremely heavy load on startup there can be a delay on thread starvation I'm working out, this just translates into a slow start after a build if ma

[2016-01-24 14:11] NickCraver commented on #87
This is alive and well in main but has significantly more integration in the overhaul branch. We're working on adding hardware, etc. Here's an idea of what that branch looks like if you're wanting to pull and test:

<img width="1130" alt="screen shot 2016-01-24 at 9 07 27 am" src="https://cloud.githubusercontent.com/assets/454813/12536675/feb3703c-c279-11e5-97ef-6ff24bdc5349.png">

<img width="991

[2016-01-24 14:15] NickCraver commented on #87
Oh just to add one here and maybe important to many, here's what a mobile phone view looks like on that branch. It's a Bootstrap layout in order to make adding new views, screen scaling, and eventually plugins all easier.

<img width="384" alt="screen shot 2016-01-24 at 9 14 09 am" src="https://cloud.githubusercontent.com/assets/454813/12536711/e1de1e48-c27a-11e5-94ca-8e78a3fb6021.png">

[2016-01-24 14:16] #83 closed

[2016-01-24 14:22] NickCraver commented on #74
@kpirlo check out the overhaul branch which has a lot more Bosun support built-in now if you're on the latest Bosun. We're adding APIs to Bosun and a bunch of bits to Opserver to consume those APIs. The example base config is very easy, you can find an example commented with the various providers here: https://github.com/opserver/Opserver/blob/overhaul/Opserver/Config/DashboardSettings.json.exampl

[2016-01-24 14:32] NickCraver commented on #15
I'm going to close this out simply because it'll need VS 2015 going forward *to work on*, but with (hopefully as soon as we can) a .Net Core port it'll also become accessible from the command line. There are many dependency blockers for a CoreCLR port, but many others and myself are working on all of them at once. AD authentication will be the biggest hurdle that's very likely post-RTM.

[2016-01-24 14:32] NickCraver commented on #16
Closing this out since VS 2015 is pretty much required now. Changes incoming!

[2016-01-24 14:32] #16 closed

[2016-01-24 15:21] #15 closed

[2016-01-24 16:23] NickCraver commented on #99
Are you seeing this in current code? Do you have a lot of files for those databases perhaps, or crazy performance counters? I'm trying to figure out which cross-join is going nuts for you.

If you're on SQL 2012+, run this:

[code]

If you're in pre-2012, run this version:

[code]

[2016-01-25 05:20] yuzukwok commented on #109
Thank you very much. I will try the overhaul branch.

[2016-01-26 11:18] georgeduckett opened #110 "Scheduled tasks view"
Hi, is there any interest/plans for being able to get stats about windows schedule tasks, similar to the SQL jobs view?
Would this be something worth pursuing?

[2016-01-26 11:33] NickCraver commented on #110
I'm not necessarily opposed to it, but where would such data come from? Also what would it be filtered to? There are many tasks out of the box in the various categories in the tree...that seems like a lot of potential noise that would need solving.

I can't say we actually have a use for this at Stack, but I can totally see use cases - have examples?

[2016-01-26 12:29] georgeduckett commented on #110
Re. where to get the data, I think WMI could be an option, which might make sense as that already exists as a provider. Alternatively using classes in `Microsoft.Win32.TaskScheduler` could be an option too. I've used https://www.nuget.org/packages/TaskScheduler in the past.

Re filtering, possibly excluding anything in the built-in Microsoft folder could work, or better perhaps would be a regex ty

[2016-01-27 21:42] jrammalaere commented on #99
Thank you for the reply.  The glitch seems to have been transient.  I haven't noticed it since the original posting.

[2016-01-27 21:42] #99 closed

[2016-01-31 17:02] NickCraver commented on #86
Fixed in https://github.com/opserver/Opserver/commit/514bfcf011e38156fe439bbe3970ba2ffaf70906, in the overhaul branch, sorry this took quite a while to get around to.

[2016-01-31 17:02] #86 closed

[2016-01-31 17:03] NickCraver commented on #34
@chriswedgwood this is now fixed and tested in the new overhaul code, see https://github.com/opserver/Opserver/commit/514bfcf011e38156fe439bbe3970ba2ffaf70906

Thanks for the report!

[2016-01-31 17:03] #34 closed

[2016-01-31 17:03] NickCraver commented on #109
@yuzukwok heads up: it looks like the shards view isn't working correctly...I'll figure that out and fix tonight.

[2016-01-31 17:04] NickCraver commented on #96
@fallenidol thanks for the report, this should be fixed in the current overhaul branch, see commit: https://github.com/opserver/Opserver/commit/514bfcf011e38156fe439bbe3970ba2ffaf70906

[2016-01-31 17:04] #96 closed

[2016-01-31 20:27] NickCraver commented on #109
@yuzukwok fixed - let me know if you hit any 2.x issues please!

[2016-02-01 11:23] NickCraver commented on #87
We're working on all the data, but more Bosun integration going in, here's first pass of a network panel:
<img width="1001" alt="screen shot 2016-01-31 at 10 50 41 pm" src="https://cloud.githubusercontent.com/assets/454813/12716095/2bafb004-c8ac-11e5-8a67-8c537aec2d85.png">

[2016-02-19 09:16] shep1987 opened #112 "Trace Flag query return error on case sensitive database"
In the class TraceFlagInfo please change:

Select * From @flags;
to
Select * From @Flags;

This will allow this check to work correctly on a case sensitive database

[2016-02-19 11:26] NickCraver commented on #112
@shep1987 doh, thanks for the heads up - fixed in the overhaul branch now!

[2016-02-19 11:26] #112 closed

[2016-02-19 13:02] Tony-Mc opened #113 "Null reference exception in Shards.Table.cshtml on overhaul"
I'm on [overhaul](https://github.com/opserver/Opserver/tree/overhaul) branch commit [837711d](https://github.com/opserver/Opserver/commit/837711d2cab0a6c0d5f8fb548272375d8129e9a5) and I'm getting a NullReference exception on [line 8](https://github.com/opserver/Opserver/blob/overhaul/Opserver/Views/Elastic/Shards.Table.cshtml#L8) in `Shards.Table.cshtml`

I've got three Elastic clusters configured

[2016-02-19 16:53] GregWhiteDBA opened #114 "SQL Instances not showing table details"
I am using the overhaul code, when browsing database table details for sql instances I get an error 500
Object reference not set to an instance of an object. on line 7 of file:
Databases.Modal.Tables.cshtml

Line 5:      Layout = "Databases.Modal.cshtml";
Line 6:      var s = Model.Instance;
Line 7:      var tables = s.GetTableInfo(Model.Database);
Line 8:  }
Line 9:  @if (tables.Data == null || !

[2016-02-19 21:10] WatersJohn opened #115 "View Details under SQL Volumes | View Files returns an error"
This is likely just a hazard of using the overhaul branch, but thought I'd mention it.  Steps to repro:
1) Use the overhaul branch of Opserver
2) Click on a database server
3) Click 'view files' next to 'volumes'.
4) In the window that appears, click 'view detail'
5) The below error appears:
`
System.Web.HttpException (0x80004005): The controller for path '/sql/db-files' was not found or does not

[2016-02-20 01:26] NickCraver commented on #115
I'm not really sure where I pictured that link going - removing the link until if/when there is a more detailed file view.

[2016-02-20 01:27] NickCraver commented on #115
Closing this out, but I welcome a new issue on discussions about what you'd be interested in for such a view!

[2016-02-20 01:27] #115 closed

[2016-02-20 01:31] NickCraver commented on #113
Hmmm, I can't readily repro this - not sure how you'd get here with a null cluster. Can you give me some more details here - are there red/yellow cluster statuses? Do any other screens throw? What exact URL are you at?

[2016-02-20 01:35] NickCraver commented on #114
Yeah this doesn't actually work in Overhaul right now - one of the few things to put back after breaking it earlier. I re-did all of the modal code to allow deep linking, etc. but the 2-level (or multi-level in general) is something I need to re-visit. I want to get this in ASAP and improve the feature at the same time...I'll update this issue as soon as I have something to test ready.

[2016-02-20 01:36] NickCraver commented on #110
@georgeduckett  the WMI polling is one of many possible providers, so I'm not sure it's an awesome option for the dependency. I'm not against it, but I'm totally unaware of what percentage of users are using which providers (if any at all for the Dashboard). I know a great many people deploy Opserver for just SQL, Redis, HAProxy, etc. - but I assume you picture scheduled tasks falling under the da

[2016-02-20 01:37] NickCraver commented on #109
Closing this out since support is in the overhaul branch!

[2016-02-20 01:37] #109 closed

[2016-02-20 03:26] NickCraver commented on #114
I almost have this working, just one last on-load deep linking issue to resolve which I should be able to do tomorrow. I gave it some styling love as well - thoughts?
<img width="1373" alt="screen shot 2016-02-19 at 10 23 25 pm" src="https://cloud.githubusercontent.com/assets/454813/13194225/a00b9508-d757-11e5-832e-7aac7450a2e2.png">
The column info is now loaded initially as well, so clicks are i

[2016-02-20 03:28] NickCraver commented on #114
@GregWhiteDBA in the overhaul branch for testing - I'll fix deep links in the AM here.

[2016-02-20 09:05] Tony-Mc commented on #113
Closing this because I can't reproduce that myself.

One of the clusters was down for sure and no connection could be made. I was debugging other stuff so there were several tabs open and it's possible that one of them might requested something while app was not initialized yet, although I have no idea how shards table could be requested in main screens.

[2016-02-20 18:54] NickCraver commented on #114
Much better tables behavior is now available as of https://github.com/opserver/Opserver/commit/1d1a58544c72bffaa0846090a8f48f296a4b618f, enjoy! Let me know if you find any problems and I'll open this back up for tracking.

[2016-02-20 18:54] #114 closed

[2016-02-20 20:15] CouchFrancois opened #118 "Publishing and Form issue"
I've tried to figure this out for hours, throwing it out here as a last resort.

I got everything set up quick and easy **locally, it works just fine** connecting to our sql instances.  Publishing is another matter.  Using a **file publish** to our IIS box, same way I do for other projects.  But when I do that, the only thing I can get the published version to do is go to the login page.  No matte

[2016-02-20 21:15] NickCraver commented on #118
Well I guess that makes sense, because the .config files aren't in the project. I'm not sure how we can fix this without creating *more* problems, but possibly empty configs...let me think about it tonight.

As a quick fix, include your Config\*.config files in the project - I'll think about how to fix such a case for everyone given those files are (and need to be) .gitgnored.

[2016-02-20 21:33] CouchFrancois commented on #118
Yeah, I had noticed that the configs weren't being published, so I copied
those up as well. So the issue as I described it was with a security and
sql config copied up
On Feb 20, 2016 3:15 PM, "Nick Craver" <notifications@github.com> wrote:

[2016-02-20 22:25] NickCraver commented on #118
@CouchFrancois can you post what you security config looks like (removing passwords if present)? Off the top of my head: perhaps the account you're running the application pool as (maybe `IIS AppPool\<name>`?) doesn't have permission to bind to LDAP/AD. I often see this if anonymous binds aren't enabled, which is the default.

[2016-02-21 04:08] NickCraver commented on #105
I'm finally getting time to look at some of these, though priority is behind the /hub makeover - Views is in overhaul as of https://github.com/opserver/Opserver/commit/7d347f5db303f42d3a7790dc2ed11daadea6c181 The storage and index views are up next, integrating sprocs will take a bit more planning.

[2016-02-21 04:13] NickCraver opened #121 "SQL: Database: Storage View"
This needs creating.

[2016-02-21 04:13] NickCraver opened #122 "SQL: Database: Missing Indexes View"
Needs creating.

[2016-02-21 04:14] NickCraver opened #123 "SQL: Database: Unused Indexes View"
Needs creating.

[2016-02-21 14:24] CouchFrancois commented on #118
Nothing special about the security config, I'm running this as a POC on an internal development box so there isn't a need for enhanced security at the moment
`<?xml version="1.0" encoding="utf-8"?>
<SecuritySettings provider="alladmin" />`

I was setting up my AD account as the anonymous account and the application pool account thinking that that would emulate running it locally, but my AD account

[2016-02-22 00:08] Tony-Mc commented on #118
When I tried running on Local IIS instead of IIS Express I experienced something similar to what @CouchFrancois is describing.

I hosted application as Opserver.
When I opened `localhost/Opserver` it redirected me to `localhost/login?ReturnUrl=%2FOpserver`. That's the root of IIS instead of app's root.

![image](https://cloud.githubusercontent.com/assets/8818187/13206088/0d49640c-d900-11e5-9b92-0e

[2016-02-22 04:17] snoopydo opened #126 "Dashboard not showing network values or graph when using WMI provider."
Almost always we don't get any network data on the dashboard.  I had a bit of a dig around and I found a work-around that works for me.

In Opserver.Core/Data/Dashboard/Node.cs, property PrimaryInterfaces appears to set its private member variable before the interface data is available from the underlying WMI provider.  If I amend the if null test to also test for _primaryInterfaces.Count==0 then

[2016-02-22 08:57] GregWhiteDBA commented on #114
thanks Nick, I appreciate this isn't solely an SQL focused system however as a dba I have a number of items on my wish list and want to contribute. I will knock something up and raise it separately to get your thoughts. I will test the instance changes today

[2016-02-22 09:27] GregWhiteDBA commented on #114
still getting same error for instances guess that bit is a work in  progress, i will try to figure it out

[2016-02-22 11:27] NickCraver commented on #126
WMI is a bit of an odd duck here, because it's refreshing the in-memory nodes rather than deserializing a new list as other providers do (which isn't necessarily bad, but creates some issues). I fixed the race with a tweak (so it doesn't keep re-running if there are no interfaces on the node) and I'll take a look at primary today.

The regex running against all isn't a bad idea, but I need to move

[2016-02-22 11:29] NickCraver commented on #121
Initial version in with plans to iterate, a few examples:
<img width="1155" alt="screen shot 2016-02-21 at 10 53 15 pm" src="https://cloud.githubusercontent.com/assets/454813/13217012/902a0570-d92d-11e5-83e9-07f433b1b2d4.png">
<img width="1154" alt="screen shot 2016-02-21 at 10 31 40 pm" src="https://cloud.githubusercontent.com/assets/454813/13217014/923f7c82-d92d-11e5-8f4b-8ca0c90d6101.png">

[2016-02-22 11:29] #121 closed

[2016-02-22 11:51] NickCraver commented on #118
The problems @Tony-Mc point out make sense here - Opserver explicitly doesn't support running under a virtual path but only for performance reasons. I *want* to change most links to use things like `ActionLink()`, etc. but it's terribly slow with many routes in MVC 5 due to how it's implemented. However, it's totally re-written and usable for MVC 6.

MVC 6 is on my radar, since that's a big step i

[2016-02-22 12:00] Tony-Mc commented on #118
Should I continue working on my branch or will you take over from here? Because I can't wait to run Opserver ;)

[2016-02-22 12:03] NickCraver commented on #118
@Tony-Mc I'll grab it - working locally now. After kids are out I'll figure out how to best resolve the tabs and such - already have the backend working. Hang on, I'll update here when the first wave of fixes is in (just a few hours, solving some Stack Overflow issues too).

[2016-02-22 12:05] Tony-Mc commented on #118
Sure, great!

[2016-02-23 03:14] NickCraver commented on #118
@Tony-Mc I just pushed the server-side which you can see in https://github.com/opserver/Opserver/commit/d2fe71e01a2bad1a40591f1afc6050ddeb25b8a0, AJAX requests still need love which I'll do next. Give it a try and you should be able to browse around pretty well at this point. I'm looking at how to most cleanly solve the pathing issue in JS now.

[2016-02-23 03:57] NickCraver commented on #118
Okay I addressed what I think are all the AJAX issues as well - can you please give latest a test @Tony-Mc? Commit is here if curious: https://github.com/opserver/Opserver/commit/0208ee407cdeb852cdda758e37e417151384a34b

[2016-02-23 07:17] Tony-Mc commented on #118
@NickCraver everything works great. Well done!

[2016-02-23 11:33] NickCraver commented on #118
Excellent! @CouchFrancois can you please give latest `overhaul` code a try and see if this was your issue as well?

[2016-02-23 16:01] CouchFrancois commented on #118
I didn't have high hopes b/c I'm not using a virtual directory.  Still
seeing the same issue, although I do love the new interface

Here's what I get:

[image: Inline image 1]

On Tue, Feb 23, 2016 at 5:34 AM, Nick Craver <notifications@github.com>
wrote:

[2016-02-24 01:55] NickCraver commented on #118
@CouchFrancois your image didn't come through in GitHub (doesn't work when replying via email), can you add again please?

[2016-02-24 09:07] Tony-Mc commented on #113
So yesterday I got this once again. I was in main Elastic dashboard and one of the nodes was down. I did restart it and during the time when it was getting up I got the error again.

@NickCraver I will try to investigate this once I get some free time to setup elastic locally and debug the behavior. I might reopen this once I get some real info.

[2016-02-24 11:09] NickCraver commented on #113
@Tony-Mc re-opening now since it's obviously a thing, must be a race on the polls - I'll take another look today.

[2016-02-24 15:08] CouchFrancois commented on #118
It's nothing spectacular...

![image](https://cloud.githubusercontent.com/assets/1000466/13289603/2301c8fc-dad6-11e5-8b82-eea1e7e727f0.png)

[2016-02-24 15:28] CouchFrancois commented on #118
NM, I got it to work.  .Net authorization in IIS wasn't set up correctly.  Thanks everyone for your help

[2016-02-24 19:48] Tony-Mc commented on #113
No rush, it is not critical.

[2016-02-25 02:28] NickCraver commented on #113
@Tony-Mc this was a case of me being stupid, fixed above!

[2016-02-25 02:28] #113 closed

[2016-02-25 03:31] martosource opened #127 "SQL Server 2008 Reported Memory"
The calculation for memory on SQL Server older than 2012 is incorrect.

In SQLInstance,Memory.GetFetchSQL line 122 needs to change from:
`return FetchSQL.Replace("pages_kb", "single_pages_kb + multi_pages_kb");`
to
`return FetchSQL.Replace("pages_kb", "(single_pages_kb + multi_pages_kb)");`

The brackets are missing for the UsedBytes column.

[2016-02-25 03:34] NickCraver commented on #127
Thanks for the report, fixed in the `overhaul` branch!

[2016-02-25 03:34] #127 closed

[2016-02-25 03:36] NickCraver commented on #126
@snoopydo There's new code in the overhaul branch that expands the regex matching as well as cleans up a bit. Can you give latest a test please?

[2016-02-25 04:33] snoopydo commented on #126
It appears to work.
Unfortunately I couldn't get 'overhaul' branch to build/run.  In the interests of quickly testing I copied the changes from commit e68dcb6cc5ca15d0a0024d5881f065b0a1e648de into 'master'.  I'll try getting the 'overhaul' branch running on my computer tomorrow morning.

[2016-02-25 08:03] Tony-Mc commented on #113
I can confirm that it's working now.

[2016-02-26 00:54] snoopydo commented on #126
At a bit of a dead end trying to get the 'overhaul' branch to build/run.
I'm using VS2013, with targeting packs for both .Net 4.6 & 4.6.1 installed.
Looking into the project file the Opserver project is targeting 4.6, however that's not showing in the list of target frameworks for that project, 4.5, 4.5.1, 4.5.2 & 4.6.1 are listed. The Opserver.Core project lists all of the frameworks, so not to s

[2016-02-26 01:27] NickCraver commented on #126
I see you have the targeting packs, but do you actually have .Net 4.6 installed on the machine you're trying to run on? Opserver doesn't *strictly* need 4.6, but I'm setting the expectation early since I'll be targeting that .Net Platform generation on the move to .Net Core.

[2016-02-26 03:25] snoopydo commented on #126
I believed so.  I did try reinstalling, starting with 4.5.2 and working my way up each version, they all reported that the version or a newer one was already installed.
Went back to a simple console app to test. I can create a 4.5.2 x86 binary and have it run, selecting AnyCPU, x64 or 4.6 gives an error. either
<pre>Could not run the "GenerateResource" task because MSBuild could not create or conn

[2016-02-26 04:24] snoopydo commented on #126
Installed VS2015 Community and things look much better.
Back to original question. The WMI queries now throw an exception where they didn't before.  Looking at Opserver.Core/Data/Dashboard/Providers/WmiDataProvider.Polling.cs, UpdateNodeDataAsync() method mangles the Name property.
[code]
ie I've listed servers SVR-1, SVR-2 & SVR-3 and these become SVR-1.Workgroup-name which won't resolve via DNS.

[2016-02-26 12:26] VictoriaD opened #129 "SQL "Features: Error Fetching Features""
When I drill down into some of my SQL Instances, some of the sections on that page have missing data:
![missing](https://cloud.githubusercontent.com/assets/14888476/13352230/cc9ef232-dc83-11e5-8e3f-c4f666479370.png)
When I went along to the `/about` page, I found that had there had been errors retrieving the data:
![features](https://cloud.githubusercontent.com/assets/14888476/13352253/f348e38e-dc

[2016-02-28 13:24] Tony-Mc commented on #118
@NickCraver I think this can be closed.

[2016-03-04 16:11] VictoriaD opened #133 "ISQLVersionedObject with a min version above an instance's version is not ignored for that instance."
We have servers in a whole rainbow of versions, going back to 2000. I can see that the MinVersion of the class VolumeInfo is SQL2008R2.SP1. However, my older instances are marked as critcal on Volume. Well, querying Volume will fail because the query uses sys.dm_os_volume_stats which was not available until SQL2008R2.SP1. Hence that is the min version for volume!

Incidentally, the min volume of D

[2016-03-05 20:00] kshyju commented on #122
@NickCraver I have a [commit](https://github.com/kshyju/Opserver/commit/4281d1faf177d95a297dbc2e0bc01630a4eb41b1) which enables this feature. Please take a look. Thanks!

This is a part of a PR #130

[2016-03-05 21:15] NickCraver commented on #133
Hmm, that's bad - I'll take a look tonight. The current behavior you're seeing is definitely not intentional here.

[2016-03-05 21:16] NickCraver commented on #126
@snoopydo gotcha - I'll take a look tonight, it looks like PR #124 wasn't friendly to non-domains (which admittedly I didn't test either), we'll get it fixed.

[2016-03-05 21:17] NickCraver commented on #129
Which versions of SQL are you running against here? That'll help narrow the cause.

[2016-03-06 00:43] #118 closed

[2016-03-06 02:40] NickCraver commented on #133
Can you give latest `overhaul` a try? I pushed several fixes for earlier SQL versions tonight which should improve things quite a bit. If you can let me know what's still broken with old versions it'd be much appreciated!

[2016-03-06 03:11] NickCraver commented on #126
@snoopydo Can you please give latest code a try? I just pushed some fixes for the domain assumptions.

[2016-03-06 20:05] NickCraver commented on #129
Oh hmm, it looks like you're using the `master

[2016-03-06 21:02] snoopydo commented on #126
@NickCraver I hate to be the bearer of bad news :(  Unfortunately it doesn't work.

I should have mentioned it earlier, my computer that I'm monitoring from and the server I'm likely to deploy it to are part of a company domain, but most of (but not all) the servers I'm wanting to monitor are not.

I'm probably missing the back story, but is there any reason to actually update the Name property at

[2016-03-06 23:54] snoopydo opened #134 "SQL Server 2005 - Assertion failure - causes BugCheck dump"
As of pulling down Opserver this morning.  When exiting monitoring either via closing VS2015 or killing IIS Express process.  SQL reports two alerts (16 & 20) and logs a BugCheck dump with the following query.

[code]

this appears to be from SQLInstance.Databases.cs line 200

[2016-03-07 09:06] win32nipuh opened #135 "Internal Server Error 500: sql/db/mydb/tables"
I have connected 4 my SQL servers using sa user.
On any of databases when I click on database to I receive the error 500

[code]

[2016-03-07 09:20] VictoriaD commented on #133
I've got the latest overhaul, and my older versions are no longer marked as critical! Thank you!

[2016-03-07 09:20] #133 closed

[2016-03-07 11:11] VictoriaD commented on #129
I've updated to overhaul, and the data seems to be in all of the instances now.
However, the Features section for each instance (on the `/about` page) seems to have gone completely. It just lists the name of each instance with the coloured dot icon for status. Is that correct?

[2016-03-07 11:25] NickCraver commented on #129
@VictoriaD it's there, but as a tooltip now since that screen was getting a bit crowded with many servers. I can look at adding it back if the instance count is low or some such if you find it very helpful though, let me know!

[2016-03-07 11:26] NickCraver commented on #135
If you go to `/admin/errors`, do you see a more detailed error you can post here?

[2016-03-07 11:27] NickCraver commented on #134
Which version of .Net are you running on that machine?

[2016-03-07 11:28] NickCraver commented on #126
@snoopydo the WMI provider in general is mostly a PR and hasn't gotten proper love - your question is a good one. I'm back at work for Stack today but I'll take a look tonight...my guess is you're absolutely right, we just shouldn't update a working endpoint. I'll look at appropriately splitting the name to another property.

[2016-03-07 11:29] VictoriaD opened #136 "Hammering a SQL Instance doesn't mark it as critical"
I purposely ran a big query on my sql instance, and reduced the page life expectancy to 2 seconds. However, on the `sql/servers` page it was happily marked as green and pootling along. Is there a way to specify Crtiical and Warning levels for the various items on an instance? Can this be done through the SQLSettings.json page?

[2016-03-07 11:31] win32nipuh commented on #135
Ah, yes, I see.
That is part of information:

[2016-03-07 11:32] win32nipuh commented on #135
And my Roles:

User 	domain-test\administrator
Roles 	Authenticated, Exceptions, ExceptionsAdmin, HAProxy, HAProxyAdmin, SQL, SQLAdmin, Elastic, ElasticAdmin, Redis, RedisAdmin, Dashboard, DashboardAdmin, CloudFlare, CloudFlareAdmin, PagerDuty, PagerDutyAdmin, GlobalAdmin

[2016-03-07 11:32] NickCraver commented on #136
There are no thresholds for that metric (or many others) in terms of alerting, because there's no "right" on them I can build in. I can look at such settings, but it'll be a while before new (rather expansive) functionality like that lands. In our systems, we're typically alerting from Bosun (which sends email, etc.). The "alerting" functionality of Opserver is very purposefully minimal at this po

[2016-03-07 11:34] NickCraver commented on #135
Hmm, that would point to your instance being null/not found - was this just after a restart perhaps?

[2016-03-07 11:37] win32nipuh commented on #135
It is strange because I have 4 SQL Server registered in opserver: 3 on one physical host and 1 on other. I have the same problem for all databases on all instances.
I will restart server now and check again.... just 3 minutes

[2016-03-07 11:39] NickCraver commented on #135
What is the name of the node? It's possible we have an encoding error somewhere and it's not getting passed.

Just to sanity check, are you using the `overhaul` branch, or `master`? `overhaul` is current code.

[2016-03-07 11:41] win32nipuh commented on #135
I have downloaded from here
https://github.com/opserver/Opserver/archive/overhaul.zip

By the way all my SQL Server instances have names like hostname\sql2008R2, hostname\sql2012 etc

[2016-03-07 11:42] VictoriaD commented on #136
OK, thanks! I was hoping to use Bosun, but unfortunately can't seem to get it working!

[2016-03-07 11:42] #136 closed

[2016-03-07 11:48] NickCraver commented on #135
@win32nipuh Thanks, that was critical info - I just reproed and fixed in https://github.com/opserver/Opserver/commit/af72cc5d7f34403332a687128cbca0e9a240be47, can you please give latest a try?

[2016-03-07 11:50] win32nipuh commented on #135
I have restarted physical server where are IIS with opserver and SQL Server 2012 instance installed. The same problem reproduced.

Also, the same error is in other places:
[code]
etc

probably  the reason is the same...

[2016-03-07 11:51] win32nipuh commented on #135
Ok, I will get the latest version and try it.

[2016-03-07 11:58] win32nipuh commented on #135
Yes, now it works! :-)
Thanx

[2016-03-07 12:05] win32nipuh opened #137 "No scrollbar for tables, views forms"
When I click on database name for a SQL Server instance the form with Tables, Views, Backups etc displayed and right-side scrollbar is available, all is ok.

But if I click in this form 'Views' , 'Backups', 'Tables' menu - no scrollbar and it is impossible to see the rest of objects.
If I refresh the page - scrollbar again is here.
Tested in FF and Chrome.

[2016-03-07 12:20] win32nipuh opened #138 "Errors(view) page incorrect layuot"
I go to page
http://serverhost/opserver/sql/instance?node=test-host\SQL2012

Then click on Errors(view)
I see the page 'Errors last 6 hours' containing log records but long records are out of page, no wrapping records to fit them to page.

[2016-03-07 13:56] nordic opened #139 "Bad values in query plan"
I think these percentages aren't correct.

![opserver](https://cloud.githubusercontent.com/assets/366576/13571359/bc883568-e474-11e5-9239-351564f8d0d1.png)

[2016-03-07 13:58] NickCraver commented on #139
....what makes you think that's an invalid percentage? :)

This can be SQL or Opserver - can please you hit download on the plan and post it as a Gist so I can take a look?

[2016-03-07 14:11] nordic commented on #139
this is it

https://gist.github.com/nordic/53bd9eb3966d62564ece

[2016-03-07 19:25] NickCraver commented on #135
Awesome, closing this out - thanks for the report!

[2016-03-07 19:25] #135 closed

[2016-03-07 19:35] #138 closed

[2016-03-07 19:36] NickCraver commented on #138
Fixed in the above commit - the no-wrap was unintentional in the port there. Thanks for the report!

[2016-03-07 19:36] NickCraver commented on #137
Hmm yeah, Bootstrap/Bootbox bug...I'll see what I can do to fix that tonight.

[2016-03-07 21:43] snoopydo commented on #134
The SQL Server is a 2008r2 sp1 machine, with .Net 4 installed.

[2016-03-07 22:13] NickCraver commented on #134
Which version of .Net 4 are you on? Opserver needs 4.6+ to run properly given that we use a lot of the latest APIs.

[2016-03-07 22:25] snoopydo commented on #134
I'm currently running Opserver in VS2015 community on my computer which has .Net 4.6 installed, the servers that I'm wanting to monitor have .Net 4.5

[2016-03-07 22:59] NickCraver commented on #134
I'm trying to understand the scenario here - are you only running Opserver transiently, not in a persistent IIS process? It's not really designed to be brought up and down without error, since you're almost certain to be interrupting *something* among the myriad of polling/monitoring actions happening.

I am still curious though, where are you seeing these exceptions?

[2016-03-08 00:23] snoopydo commented on #134
This is a low priority / background type project to replace powershell scripts & rrd at work for me at the moment, so I'm running it transiently under IIS Express when I get to work on it and stop/start it as I make config changes and experiment with options.

This exception is logged on the sql server that I'm wanting to monitor, its logged by SQL into its own SQL Server Log (Server/Management/SQ

[2016-03-08 13:24] VictoriaD opened #140 "Error when clicking on database row (overhaul branch) for named instances"
From the SQL Page, I clicked on an instance, then on databases at the top right, and then on one of the database rows. This is the error that came up:
![error1](https://cloud.githubusercontent.com/assets/14888476/13602737/55d0e6b4-e530-11e5-843f-bbedab1c2b3a.png)

When I click on the "Direct Link" shown in the error, it takes me to the Oh no! An Error! Page. Clicking through to the error log, and

[2016-03-08 13:28] VictoriaD commented on #140
I did a little more clicking, and this error comes up for instances with a \ in them, but instances without are loading the tables table with no problems!

[2016-03-08 14:50] win32nipuh commented on #140
Try to get the latest version and check it again. It was fixed yesterday.

[2016-03-08 16:20] VictoriaD commented on #140
I've downloaded the current version from overhaul, and now I get the following error on running. I have also removed all named instances from my SqlSettings file, and still get the same error.

	Server Error in '/' Application.

	Object reference not set to an instance of an object.
	  Description: An unhandled exception occurred during the execution of the current web request. Please review the s

[2016-03-09 01:39] NickCraver commented on #139
Okay this will take some time (possibly part of re-writing all of the query plan to HTML bits), it's an artifact of many plan trees in a single plan. I don't think the original plugin handles this very well at all, and it also creates issues like the missing lines in your picture.

[2016-03-09 02:11] NickCraver commented on #137
@win32nipuh thanks for the report - fixed!

[2016-03-09 02:11] #137 closed

[2016-03-09 03:58] kshyju commented on #140
@VictoriaD Can you check again (with latest code) and see whether you still have this error ? I verified with sql instanace names which has `\ ` in it and it totally works for me.

[code]

[2016-03-09 08:07] VictoriaD commented on #140
Tried this again today, and it's now working fine. Thanks!

[2016-03-09 08:07] #140 closed

[2016-03-10 07:00] wudzik opened #141 "Notification icon"
There is a notification icon right next to the opserver logo. I guess it's showing number of errors/warnings/infos, but it is unclear where to search for this errors. Is there any plan to enhance it to show (maybe in some tooltip) actual problems for e.g. "SQL server (MSSQL-03) failed to connect" ?

[2016-03-10 13:45] Tony-Mc commented on #141
As far as I know notifications in `overhaul` are being refactored. #119

[2016-03-10 14:36] win32nipuh opened #142 "Amazon RDS: 'databases'"
I added my Amazon SQL Server  instance to opserver.
Click on 'databases'

[code]

RDS has some restrictionsfor user permissions, probably databases info can be retrieved using another way?

[2016-03-10 14:52] win32nipuh opened #143 "Amazon RDS: 'active'"
The problem is that Amazon RDS does not allow to create objects in master database.

[code]

[2016-03-11 10:27] afscrome opened #144 "SQL Query Detail doesn't handle EXECUTE PROC statements"
The query detail view (`/sql/top/detail`) has some problems for query plans containing execute statements such as

[code]

Specifically the plan XML contains the following statement, which leads to a null reference error in `ShowPlanXml.StatementTextWithoutInitialParams` due to there being no StatementText attribute.

[code]

Full Query Plan XML at https://gist.github.com/afscrome/49d48dc9d5a028be

[2016-03-11 14:25] win32nipuh opened #145 "Error: 'Sequence contains no elements'"
http://localhost/opserver/sql/connections?node=sqlhost\SQL2008R2

[2016-03-12 12:00] NickCraver commented on #144
Good catch - latest should have a fix. I think the presentation here can be improved quite a bit, just need to focus some time on it.

[2016-03-12 12:01] NickCraver commented on #145
There's a fix in #146, but it needs a bit of love before merging. I'll merge it in as soon as it's simplified!

[2016-03-12 12:06] NickCraver commented on #143
I'm not sure this is worth solving, it depends if it's possible first.

If you install `sp_WhoIsActive` in your database, does it work? If Amazon RDS is this limiting, it's likely that the procedure can't even access the system-level information it needs to function either.

[2016-03-12 13:08] NickCraver commented on #133
@VictoriaD in some bits I'm working on for permissions - it's just not going to make sense to continue supporting SQL 2000, or at least prevent it from breaking in some cases (let's say: if you have sysadmin permissions it'll *probably* work). How impactful is this?

[2016-03-12 14:16] NickCraver commented on #145
Fixed via #146 :)

[2016-03-12 14:16] #145 closed

[2016-03-14 10:06] win32nipuh commented on #143
I have created sp_WhoIsActive in my database, then ran it:
[code]

It seems it works ok, it displays processes in my db, master db.

[2016-03-14 10:27] PeteGoo opened #150 "Logging removed plans"
We have a need to be able to log the removed plans for better insight and post-analysis. Are there plans to add log4net or similar? Is there another way to achieve this?

[2016-03-14 11:21] NickCraver commented on #150
There are no plans to do this, because plans go in and out of cache all the time just as a matter of normal operation in SQL Server. I'm not sure there's any need though. I'd recommend simply downloading the plan (via a link on the same panel) before clicking remove if you want to save it for analysis.

SQL also has new support for this in an alternative way coming in 2016 with the Query Data Stor

[2016-03-14 13:30] VictoriaD commented on #133
We're currently working on getting rid of our very last SQL2000 box, so happily it won't make any difference to us now.

[2016-03-14 16:42] VictoriaD commented on #143
I've put sp_whoIsActive in a different database to master. Once I changed the Initial catalog in the connection in SQLSettings.json to point at that database instead of master, it seems to work OK. I haven't done extensive testing, just poked about a bit, but happy so far. This could be an option for you.

[2016-03-14 16:43] #129 closed

[2016-03-14 18:23] PeteGoo commented on #150
Thanks, the query data store sounds perfect. The idea for us is to push the plan details to an aggregated log store like sumologic so we can easily analyse it later for correlation with performance metrics. Downloading the plans makes this harder to do and adds friction for sleepy ops people.

I figured it might be a bit specific to us. Will probably just fork for what we need until a better optio

[2016-03-14 18:23] #150 closed

[2016-03-15 09:47] win32nipuh opened #151 "Redis: Poll now - unhandled exception"
My opserver configuration contains: 4 sql servers and 2 redis servers.
1. Go to 'Redis'
2. Click 'Poll now'
3.Visual Studio Just-In-Time Debigger appears:  An unhandled Microsoft .NET Framework exception occured in w3wp.exe

Btw, checked the same for SQL Servers - it works ok.

The Event Log record:

`An unhandled exception occurred and the process was terminated. Application ID: /LM/W3SVC/1/ROOT/

[2016-03-15 12:21] NickCraver opened #152 "Globalization: fix all the CSS widths in razor based to render decimals."
Just tracking this so I don't forget.

[2016-03-20 21:42] NickCraver commented on #152
Fixed via #156

[2016-03-20 21:42] #152 closed

[2016-03-23 16:45] djlaney3 opened #157 "SQL Resource Governor Usage & Usage By Database"
Is it possible to add info about resource governors?  Currently in an in house app, I query the perfmon counters to get the CPU, Memory, and IOPS current usage AND target usage as defined by the resource governors.  I also have data for databases summarized by what is running.  It is basically a summarized view of whoIsActive but grouped by database.

[2016-03-23 23:47] NickCraver commented on #157
We don't use this internally, so I don't have the counters to test with - can you provide some more detail on what you're querying? I'm not at all against adding a section to the instance dashboard if this functionality is enabled on a particular instance.

[2016-03-24 00:47] djlaney3 commented on #157
Here are the scripts I use.  The first one gives a great snapshot of what is happening by database:
		select 			databaseName = db_name(ses.database_id),			runningProcesses = coalesce(sp.running, 0),			waitingProcesses = coalesce(sp.wating, 0),			totalSessions = count(distinct ses.session_id),			totalSystemSessions = sum(case when ses.is_user_process = 0 then 1 else 0 end),			totalUserSessions = su

[2016-03-24 13:43] djlaney3 commented on #157
Here is a screen shot of my output.
![hb](https://cloud.githubusercontent.com/assets/18035126/14018540/56b766ac-f19c-11e5-859a-086e0a9f07f7.png)

[2016-03-31 19:20] djlaney3 opened #158 "Network Interfaces Don't Show Any Data"
When clicking the View link under network on the Stats box display area, the modal windows occasionally shows nothing other than Server name Interfaces title.  The rest of the modal window is empty.  On other occasions, a list of network adapters shows up, but with no relevant data - everything is blank or default values.  I'm not sure if this should be working yet or not.

[2016-04-02 23:18] NickCraver commented on #158
Which provider are you using for the dashboard?

[2016-04-02 23:21] djlaney3 commented on #158
I'm using AD authentication using the wmi and sql providers.

Dennis J. Laney

On Sat, Apr 2, 2016 at 4:18 PM -0700, "Nick Craver" <notifications@github.com> wrote:

Which provider are you using for the dashboard?

---
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub:
https://github.com/opserver/Opserver/issues/158#issuecomment-204820851

[2016-04-02 23:22] NickCraver commented on #158
Ah okay I suspected WMI - I'm not sure network is in there yet, I'll be taking a look (and spending a bit more time on Opserver) this weekend/week.

[2016-04-02 23:23] #144 closed

[2016-04-02 23:26] djlaney3 commented on #158
Thanks.  This project is great.   I'll keep putting in issues as I find them.

Dennis J. Laney

On Sat, Apr 2, 2016 at 4:23 PM -0700, "Nick Craver" <notifications@github.com> wrote:

Ah okay I suspected WMI - I'm not sure network is in there yet, I'll be taking a look (and spending a bit more time on Opserver) this weekend/week.

---
You are receiving this because you authored the thread.
Reply to

[2016-04-02 23:29] NickCraver commented on #157
Formatting here for readability soon as I can visualize this on a dashboard well:

[code]

[code]

[code]

[2016-04-02 23:32] NickCraver commented on #143
@win32nipuh can you confirm this as an option? When I get to much needed (tons of) documentation, I can include some pointers there.

[2016-04-03 02:10] NickCraver commented on #158
@djlaney3 I made a few enhancements here tonight (IPs and such), can you take another peek and see what's coming up? We need to dig a little if you're still not seeing interfaces.

[2016-04-03 02:12] djlaney3 commented on #158
I will test it out in the morning.

Dennis J. Laney

On Sat, Apr 2, 2016 at 7:10 PM -0700, "Nick Craver" <notifications@github.com> wrote:

@djlaney3 I made a few enhancements here tonight (IPs and such), can you take another peek and see what's coming up? We need to dig a little if you're still not seeing interfaces.

---
You are receiving this because you were mentioned.
Reply to this email dire

[2016-04-03 02:30] djlaney3 commented on #158
Just pulled down the latest and compiled/deployed.  Interfaces still not showing up for all servers. About half of them it shows.  I am looking for common traits between the non working ones, but I haven't found any yet.   What information do you need from me?

Date: Sat, 2 Apr 2016 19:10:50 -0700
From: notifications@github.com
To: Opserver@noreply.github.com
CC: djlaney3@hotmail.com
Subject: Re:

[2016-04-03 06:20] win32nipuh commented on #143
Ok.
Can I do anything to help to solve this issue?
Btw, in my app I try to detect where it is connected: RDS or normal SQL Server.
Depending on it the app has different behavior.

[2016-04-03 12:47] NickCraver commented on #126
@snoopydo apologies, I've been slammed with other projects and didn't get to do a decent Opserver pass until now. I've just pushed a fix which leaves the endpoints alone and makes the dashboard naming updates cross-domain independent. Can you please give latest a try when you get a chance?

[2016-04-03 13:06] djlaney3 commented on #158
Digging more into this.  When I run it from my Dev machine, all network data shows for all servers monitored.  However, when I deploy to my monitoring server (with the same configs), about half of the servers are missing network data.  Let me know what info you need from me.

[2016-04-04 15:08] chsword opened #160 "Content/themes/light/styles style error"
branch : overhual
Content/themes/light/styles.min.css

the style ".fade"

[code]

Will result a modal window cannot be displayed

[2016-04-04 15:24] chsword commented on #160
in file \Content\bootstrap\less\component-animations.less
[code]
But I'm not sure if this is the right way.

[2016-04-04 18:06] djlaney3 commented on #158
@NickCraver I tracked this down somewhat.  It appears on Windows 2008 (any version), there is some extra permissions necessary for WMI network queries (outside of normal dcom & wmi security settings).  I tried multiple scenarios with the necessary user account, but the only fool proof way was to add the account to the local admin group on the windows 2008 servers.  Then it all works.  This explain

[2016-04-04 21:52] snoopydo commented on #126
:+1: Its working.

However there is a display issue with the sparkline graphs on the /dashboard page.  They appear to be truncated and not scaled to the required size?  In the dashboard they're a 173x20 image, but the generated svg is 500x50.

[2016-04-05 00:03] NickCraver commented on #160
What issue are you seeing? The intent here is for a modal to start with a class of `fade` and then `fade in` which uses CSS transitions for the fade (instead of say: JavaScript). I haven't heard any reports of this being broken - it's basic bootstrap bits. Can you provide more specifics on what issue you're actually having with the modals? Please include which browser you're using!

[2016-04-05 00:11] NickCraver commented on #158
@djlaney3 I need to document permissions (and many things) quite a bit after finishing off /hub so I can merge into master. The digging there is very much appreciated, thank you! We could dig into which WMI grants are needed, but I wonder what the audience is there and if they'd deploy such grants via GPO or otherwise.

[2016-04-05 01:00] djlaney3 commented on #158
No problem on the digging.  I tried to isolate it, but wasn't able to pin down one setting or permission.  I was starting to feel like Server 2008 has an undocumented perm that is needed.  If you know of a setting or permission you want me to test, I certainly will.

Date: Mon, 4 Apr 2016 17:12:06 -0700
From: notifications@github.com
To: Opserver@noreply.github.com
CC: djlaney3@hotmail.com
Subject

[2016-04-05 02:45] chsword commented on #160
In Chrome.

When I call a dialog like
click the link :
"SQL/ node / Job [view]" (/sql/instance?node=nodename#/sql/summary/jobs)
 "Dashboard / node / [view hardware]"(/dashboard/node?node=nodename#/dashboard/summary/hardware)

And the dialog is hidden(opacity: 0)

[2016-04-05 22:32] kshyju commented on #160
Is this a specific browser you are getting this issue? It works fine for me in chrome.

[2016-04-06 02:44] NickCraver commented on #160
This works fine for me as well - is it possible you have some Chrome extension breaking JavaScript to where the `in` class isn't getting added? Can you please check your console for errors?

[2016-04-06 08:25] chsword commented on #160
Well, I guess this is my problem of publishing. I tried Debug locally under a minute, it was good.
Thanks

[2016-04-06 08:25] #160 closed

[2016-04-06 10:07] chsword commented on #160
Solve  the problem.
Because I was upgrading from earlier versions.
So the directory: Content\js\plugins has the autocomplete.js.but the new version is removed.

But when the package is the package the plugin folder.
So autocomplete.js will be loaded. It affects the display of the Dialog

Removing this file just fine.

[2016-04-06 10:09] NickCraver commented on #160
@chsword ahhh, thanks for following up on this - it may help someone else hitting the same later!

[2016-04-06 12:53] djlaney3 commented on #157
An additional note: On the first query by database, if there are any blockers, I highlight the row in red to  make it visually easy to see that there is blocking going on.

[2016-04-07 00:56] fdjy1234 opened #163 "Redis cluster cause Null Reference"
I've Redis clusters configured, 6 nodes cluster with 3 masters and 3 slaves

I'm getting a NullReference exception on line 199 in Opserver\Opserver\Views\Redis\Dashboard.Instances.cshtml

Line 199:            @Helpers.PollNow(mastersWithSlaves.Union(mastersWithSlaves.SelectMany(s => s.GetAllSlavesInChain())))

Full stacktrace:
   System.Linq.<SelectManyIterator>d__16`2.MoveNext() +216
   System.Li

[2016-04-07 01:01] NickCraver commented on #163
Just checking - you're on the `overhaul` branch, correct?

[2016-04-07 01:04] NickCraver commented on #163
@fdjy1234 pull latest and give it a try from overhaul please!

[2016-04-07 03:00] fdjy1234 commented on #163
i got overhaul and try. i get exception on line 23 in Helpers.cshtml, NullReferenceException

line 23:         <a href="#" class="pull-right hover-pulsate js-reload-link" data-type="@(nodes.FirstOrDefault()?.NodeType)" data-uk="@Json.Encode(nodes.Select(i => i.UniqueKey))"><span class="glyphicon glyphicon-refresh"></span> <span class="js-text">Poll Now</span></a>

Full stacktrace:
ASP.<>c.<PollNow

[2016-04-07 08:58] evaristovidal opened #164 "TSDBQuery: Problem converting dates in different cultures"
I am using the overhaul branch and the bosun provider in the dashboard. Everything is working fine but the graphics for CPU and memory usage are not working. When accessing directly the graph url(for example http://localhost:81/dashboard/graph/MyServer/cpu) I am getting the following error:

 Exception Details: System.Collections.Generic.KeyNotFoundException: The given key was not present in the d

[2016-04-07 10:16] NickCraver commented on #164
Indeed that is the correct fix (since TSDB has an expected format) - thanks!

[2016-04-07 10:21] NickCraver commented on #164
@evaristovidal fix pushed for everyone else, thank you!

[2016-04-07 10:21] #164 closed

[2016-04-12 06:30] Xhanti commented on #151
I've seen this as well

[2016-04-15 11:40] VictoriaD opened #170 "1 restoring database causes error for whole databases tab (every database on server)"
Start a long database restore on a server.
Navigate to that server in Opserver.
Click on the databases tab.

You either get a timeout error, or a 'Database 'dbname' cannot be opened. It is in the middle of a restore.' error. Either way, you can't see any database information until it has finished.

[2016-04-15 11:48] VictoriaD opened #171 "Database tables information not compatible with sql 2005."
Navigate to a 2005 server, click on the databases tab and click on a database row. The following error is displayed:

Error loading

Status: Internal Server Error
Code: 500
Url: sql/db/dbname/tables

The problem is the columns sys.columns.is_sparse and is_column_set do not exist in 2005. This also breaks the Views view.

[2016-04-15 13:03] kshyju commented on #170
Do you absolutely  want to see db information while it is restoring ? This seems to me like, trying to run a car while the engine is being fixed. :)

[2016-04-15 13:05] VictoriaD commented on #170
You can't see information for the other databases on the server. So one is restoring (don't need to see info), and the other 12 databases you can't see (these are not restoring, so you would like to see the information).

[2016-04-15 14:21] #171 closed

[2016-04-15 14:21] #170 closed

[2016-04-15 14:33] kshyju commented on #170
I see. But i remember seeing other db information while one db state was in "Restoring".

[2016-04-20 03:18] chsword opened #177 "Is there any way in the Dashboard of the central network and the Intranet network adapter"
I use the bosun provider.

[2016-04-20 11:06] pascalcmd opened #178 "No details with ElasticSearch 2.3.1"
Hi,

I am trying to set Opserver with ElasticSearch 2.3.1 and it cannot get information about the cluster/nodes. I tried with ES 1.7 and it worked OOTB.

Am I missing something or is Opserver not compatible with ES 2.X?

Thanks.

[2016-04-20 11:47] NickCraver commented on #178
It's compatible with 2.2, but possibly something new broken in 2.3 - any errors visible in `/admin/errors`? Also: using `overhaul` branch or `master`? (overhaul has the 2.x bits)

[2016-04-20 11:48] NickCraver commented on #177
I'm not sure what's being asked here - can you try and clarify?

[2016-04-21 03:49] chsword commented on #177
On the page "/dashboard"

I want to show only Internet Network Interface in "Network" Column
Not include the LAN Network Interface.

Is there any way to config it ?

[2016-04-21 17:41] webash opened #180 "Timezone settings - Inconsistent time displays"
A default build and publish of the OpServer package doesn't seem to have timezone settings, nor use consistent time displays. For example:

![image](https://cloud.githubusercontent.com/assets/6205899/14718727/47848ace-07f0-11e6-9783-ae95db13e083.png)

- Graph shows 05:26
- Mouse over shows UTC of 17:26
- But local time (for the server running OpServer, and the local browser viewing it) is actually

[2016-04-22 03:01] pascalcmd commented on #178
I don't get any error from /admin/errors and I am using the master branch.

[2016-04-22 03:23] pascalcmd commented on #178
Well actually, I did a git clone again and now it's working. I had an old version and did a git pull and it didn't update well I guess. So ... now it's working and thank you for your prompt answer.

[2016-04-22 03:23] #178 closed

[2016-04-25 21:13] NickCraver commented on #180
Thanks for the report - can you pull latest overhaul and give it a try? It was supposed to be UTC all around but the time scale for built-in UTC on d3 uses `%I` instead of `%H`, resulting in a 12 vs. 24-hour format on the 05 vs. 17.

[2016-04-26 07:44] ghuntley opened #182 "Where are the unit tests? :-)"

[2016-04-26 11:03] VictoriaD opened #183 "Instance.DBFiles.cshtml is missing a heading in the table"
So all of the headings appear to the left of the column they are meant for.

[2016-04-26 12:05] VictoriaD opened #185 "Hovering over query plan shows box off screen."
Select a sql instance and navigate to Top. Click on a query with lots of info behind it.
If this modal covers the whole of your screen, you can then scroll down to the query plan at the bottom.
Hover over a box on the query plan right at the bottom.
You will see that not all the box is displayed. I have attached a screen shot as an example. This shows the bottom of my screen.
![untitled](https://c

[2016-04-26 12:07] NickCraver commented on #183
Fixed via #184, thank you!

[2016-04-26 12:07] #183 closed

[2016-04-26 22:07] NickCraver commented on #182
None present. It's not part of my methodology and not the best use of time as the monitored systems continually change in state and version. Also: the web pipeline is inherently much harder to test at all.

[2016-04-26 22:08] NickCraver commented on #180
Closing this out as it should be correct now - if it's not ping here for a reopen!

[2016-04-26 22:08] #180 closed

[2016-04-26 22:08] NickCraver commented on #177
What's your data provider? Orion? WMI? Bosun?

[2016-04-27 00:27] NickCraver commented on #134
@snoopydo sorry I dropped this - do you have an exact version # for SQL?

[2016-04-27 00:29] NickCraver commented on #126
@snoopydo the SVGs are scaled to fit a variety of dimensions, the nature of a sparkline makes the aspect ratio irrelevant (luckily). Can you post a screenshot of what's looking odd?

[2016-04-27 00:29] NickCraver commented on #122
v1 is in, closing this out.

[2016-04-27 00:29] #122 closed

[2016-04-27 00:30] NickCraver commented on #84
Update: for now, I have removed this completely (as it was unused and stands in the way of .Net Core support). Since it's rather unlikely that the lib I used will be supported on .Net Core (and had many dependencies), I'll have to re-implement the REST bits on the other side.

[2016-04-27 00:33] NickCraver commented on #163
All of these symptoms point to a null node in the list...and I'm not sure how that's happening without setting up a cluster here. I'll try and find time to do so in the coming weeks.

[2016-04-27 00:34] chsword commented on #177
Bosun

[2016-04-27 00:39] snoopydo commented on #134
output from @@version

[code]

[2016-04-27 00:45] NickCraver commented on #134
So we narrow this down to the query and not the connection - can you try running the raw query and see if the bugcheck occurs? Here's the raw text version:

[code]

[2016-04-27 01:12] snoopydo commented on #126
Looks to be an IE problem, Chrome displays the sparkline graphs as I expected to see them.

As highlighted, Chrome shows graphs
![capture-chrome](https://cloud.githubusercontent.com/assets/1243121/14838834/7beb13e0-0c79-11e6-96b0-b37ee73a76ed.PNG)

IE11, they're missing
![capture-ie11](https://cloud.githubusercontent.com/assets/1243121/14838839/87e084c8-0c79-11e6-986d-45317c76351f.PNG)

[2016-04-27 01:38] snoopydo commented on #134
Query runs without an issue via Management Studio.  This bug check appeared when I stopped opserver in visual studio and the sql server was restoring a shipped log for our largest db.  This server is a log shipping destination, other than the system dbs, all dbs are in a recovering state.

[2016-04-27 05:21] #182 closed

[2016-04-27 10:27] NickCraver commented on #134
@snoopydo Are you able to repro with Opserver now, or only in that circumstance? A bugcheck at all definitely means something on the SQL Server side, but I haven't seen this exact issue before in 2005 and I don't see anything relating to it mentioned in the updates past yours (through `2005.90.5324.0`, mostly SP4 CU1, CU2 and CU3).

[2016-04-27 23:19] snoopydo commented on #134
Looking good.  Just spent some time trying different combinations, trying to get it to fail again.  Nothing faulted, no warnings etc from SQL.
I'll leave one sql server in the mix to be monitored and keep an eye on it.

[2016-05-10 01:57] chsword opened #189 "[style] about the select element font-color in Dark theme"
![image](https://cloud.githubusercontent.com/assets/274085/15133456/6bfde004-1695-11e6-937c-2b5735bb15af.png)

The font color should be changed light to dark

[2016-05-27 13:25] mmillican opened #191 "WMI Configuration with AD Credentials"
I'm attempting to use WMI monitoring in Opserver on a domain environment.  Our sys-admin created a domain user which has permissions for WMI.  At first, I tried setting the app pool to run as the specified domain user, but still wasn't seeing any data.

After poking around in the config classes, I updated my `DashboardSettings.json` WMI section to

[code]

but still can't get data to show.  As a l

[2016-05-27 19:37] NickCraver commented on #191
WMI permissions short of admin are very tricky - are you sure they are setup correctly? There are several WMI browsing tools out there - try the credentials in them remotely as a sanity check...since that's what Opserver will be doing. No special config is needed, it'll be running as the application pool account.

[2016-05-27 22:27] mmillican commented on #191
Thanks @NickCraver!  Looks like that fixed most of it.  Still having issues with some of the metrics (CPU/Memory and Network).  Making progress though.

[2016-05-31 20:27] afscrome commented on #191
Digging into this some more, it looks like the WMI requires two separate permissions:

1. Grant the user account permission to connect through WMI / DCOM
2. Grant the user permissions to use the `root/cmiv2` namespace

For 1, I just added the user to the `Performance Log Users` group on the machines to be monitored.

The second step was a lot more involved - I ended up using the following script t

[2016-06-03 02:34] #189 closed

[2016-06-07 18:26] djlaney3 commented on #157
Any chance this can get some priority?  I could implement it myself, but want it to match your coding schemes.

[2016-06-08 05:23] easonjim opened #193 "Opserver Dashboard no data in windows server 2008 r2"
Dear NickCraver，
     I use opserver in windows server 2008 r2，I set up the DashboardSettings.json file, use is WMI, but I found, only the memory and hard disk data, but did not CPU and network data, I find it odd that, in my this machine using Windows 8 Enterprise Edition is to view these data, I would like to ask the operating system has a relationship?? I used Server Windows 2008 r2.

[2016-06-09 01:21] NickCraver commented on #193
I'm not sure about Windows 2008 R2, we don't actually have anything that old to test it on I'm afraid. It's very likely related to WMI permissions or the system views it's querying differing somehow...but I can't say what exactly without that environment to take a look at.

[2016-06-13 07:57] easonjim commented on #193
Thank NickCraver very much for the answer, I probably know that it should be related to the operating system, it is estimated that the server windows 2008 R2 system is not the same as the API wmi. I am ready to upgrade the operating system to Server Windows 2012 to solve this problem.

[2016-06-13 19:08] djlaney3 opened #194 "Inactive tab - no data when coming back to tab"
When opserver is open in a tab that is not active (but previously was, with polled data displayed), when you come back to it after a while (1:22), it quickly flips to the red "no data successfully fetched for xxxx" for a few seconds before the regular polled data shows up.  Can this be remedied?

[2016-06-15 01:05] Mike3131 commented on #180
![1](https://cloud.githubusercontent.com/assets/19927178/16038985/15137d86-325a-11e6-9434-5865a297c1c7.png)
![2](https://cloud.githubusercontent.com/assets/19927178/16038986/1513f540-325a-11e6-8e65-fa3a3b310f9c.png)
hello @NickCraver
•Graph shows 10:00
•Mouse over shows UTC of 10:00
•But local time (for the server running OpServer, and the local browser viewing it) is actually 18:00
I want to know

[2016-06-16 06:35] zhouyongtao opened #195 "how config password support for redis"
for example ,but it's not work well

[code]

[2016-07-06 05:51] jennings opened #197 "Enslaving other Redis servers automatically"
StackExchange.Redis's `MakeMaster()` method seems capable of automatically enslaving all other servers to the one being promoted. I expected Opserver's "Promote / Deslave" operation to perform this task, but it looks like it doesn't.

Is there a specific reason why it would be unwise for Opserver to enslave the other instances, or has this simply not been implemented?

[2016-07-06 10:21] VictoriaD opened #198 "SQL Volumes sometimes duplicated on instance dashboard."
Select a SQL server instance and look at the Volumes section of the instance dashboard. Sometimes drives appear here multiple times.

This appears to be a result of the function sys.dm_os_volume_stats giving different results for different files. It is only the available bytes column that appears to change - so it's probably that the drive is busy at exactly the time the query is being run. Aggreg

[2016-07-15 19:40] batzen opened #200 "Bug fixes and enhancements (primarily WMI provider)"
Hi and thanks for your great work first.

I would like to propose a few bug fixes and enhancements, but would like to ask for your opinion about them.

Bug fixes
- Network (WMI)
  - Detect correct interface name. Currently, during interface detection, Name from Win32_NetworkAdapter is used as the interface name. This does not work correctly when you got multiple adapters with the same name. Name f

[2016-07-15 21:38] NickCraver commented on #200
I need to look at the primary interface bits (I can this weekend), but the rest sounds good. I've thought about these and haven't had the time - I'd welcome a pull request with those changes. The `IsLikelyPrimary` is a bit tricker...it's not so awesome across providers and maybe I need to change where that lives. I'd *love* to get the members of a interface team correctly out of WMI like I can wit

[2016-07-15 21:41] NickCraver commented on #195
What error are you getting?

[2016-07-15 21:41] NickCraver commented on #194
I over-corrected here by not polling *at all* when not viewing the tab, but that's not awesome for several reasons including application pool recycle lifetimes. I'll change this to be 10x slower when out of focus and update this issue when pushed.

[2016-07-15 21:42] NickCraver commented on #191
@mmillican Did the above permissions get you going?

[2016-07-16 09:39] batzen commented on #200
If you don't mind i would fix/enhance a few more things regarding WMI.
- Network utilization for virtual adapters (including teams, virtual hyper-v, virtualbox etc..)
- I can try to find out how to get team members
- Getting virtual machine nodes through WMI

Regarding primary interface:
I still got problems with the meaning of "primary interface". What is a primary interface? I would suggest rena

[2016-07-20 01:23] mmillican commented on #191
@NickCraver I seem to have missed last two comments on this.  We do have some parts working, but I'll have to pass the above post onto our sys admin to see if it helps.  I'll try to get an answer for you later this week.

[2016-07-21 05:13] batzen opened #201 "Adding volume utilization (performance, not usage)"
Currently Opserver only supports gathering volume usage data.
I'd like to add volume utilization (read, write, length of queue) data to nodes and the dashboard.

I already got this running locally and would like to ask if you would accept a PR adding this feature.

If you don't mind i would add this to my fork and not a separate PR as i already fixed a bunch of WMI related stuff there.

I currentl

[2016-07-22 05:56] batzen opened #202 "Use Win32_PerfRawData instead of Win32_PerfFormattedData in WMI provider"
The WMI provider is currently using Win32_PerfFormattedData to gather utilization data.
This has a few disadvantages:
- Queries are slow. Getting CPU for example takes ~250ms using FormattedData and ~10ms using RawData.
- Some information is lost because FormattedData only reports uint/int and not float in some cases. One example for this is AvgDisksecPerRead (response time) when getting volume pe

[2016-07-22 08:23] batzen commented on #202
Switching to PerfRawData would also have the advantage of providing more data or more precise data.
Currently the minimum polling interval is set to 10 seconds which means that we only get a 1 second snapshot of utilization every 10 seconds.
By switching to PerfRawData we get the average utilization during that period of time. Which is, in my opinion, much better.

[2016-07-22 10:53] NickCraver commented on #202
Hey @batzen no complaints at all - I would only ask that you just submit several PRs here so that they're concise/readable. I can merge stuff like this in as soon as I can parse it and test locally. Smaller PRs rather than something monolithic is always preferred.

[2016-07-22 11:01] NickCraver commented on #201
Are you talking about the main dashboard, or on the per-node view? On per-node I could potentially see something. We'd need to implement similar for the other providers, though. In Bosun we're covered on the base collectors...on Orion I'd have to look. Do you have a screenshot? That would probably help context more than anything.

I don't see this ever happening on the primary dashboard server lis

[2016-07-22 15:12] batzen commented on #202
I also prefer smaller PRs. The problem i currently have with that is that almost all changes depend on each other... :-(

[2016-07-22 15:22] batzen commented on #201
About both. But optionally on the dashboard.

That's exactly why i would like to add a dashboard configuration option and hide it from there by default.

You can view my changes @ https://github.com/batzen/Opserver
It's quite a lot but, in my opinion, still not too much for one PR. As most changes depend on each other, i would prefer one PR for this time and promise to keep future PRs smaller.

![

[2016-07-24 21:19] NickCraver commented on #198
Fix via #199, thanks!

[2016-07-24 21:19] #198 closed

[2016-07-24 21:23] NickCraver commented on #197
The issue there is in our use case at Stack Overflow that would be highly destructive. We're looking at ways to do this more automagically, but there are general issues with it. For example, when we disconnect chained instances in another data center when doing a version upgrade there are times we explicitly *do not* want them to slave. That would erase our fallback data store in case of an issue

[2016-07-24 22:06] NickCraver commented on #194
Fixed in the commit above, grab latest - and thanks for the nudge here!

[2016-07-24 22:06] #194 closed

[2016-07-26 15:00] itssimple opened #204 "Error while trying to look at details of an exception"
`System.NullReferenceException: Object reference not set to an instance of an object.
   at ASP._Page_Views_Exceptions_Exceptions_Detail_cshtml.Execute() in C:\Hotelroot\opserver\Views\Exceptions\Exceptions.Detail.cshtml:line 168`

I've just installed Exceptional on a couple of applications, but whenever I try to view the details of a Exception, Opserver throws an exception. :)

[2016-07-26 15:04] itssimple commented on #204
It works when I fix the row with
`@if (Current.Settings.Jira != null && Current.Settings.Jira.Enabled && Current.User.IsExceptionAdmin)`

[2016-07-28 10:25] #204 closed

[2016-08-01 06:04] itssimple opened #208 "WMI graphs only contain ~3 hour of data"
Is there a way to increase the amount of data that the WMI-provided servers can serve?

Currently it only shows the latest 3 hours, while the scollector ones contain much more.
And last time I had a server on WMI and scollector, there was a duplicate server, that didn't work.

[2016-08-08 15:39] NickCraver commented on #208
Which branch are you using (overhaul or master)? WMI history is in-memory and defaults to 24 hours (but is adjustable). So if the application is restarting, that would mean a restart to history's starting point. The setting is `historyHours` (integer) in the WMI settings section. Here's an example minimal config:

[code]

The node overlap is another issue which I'm not really sure how to go about.

[2016-08-08 15:55] itssimple commented on #208
We're using `overhaul`.
I've set the AppPool to never recycle, so I'll check if I can set historyHours when I'm back at work.

[2016-08-08 18:04] NickCraver commented on #208
I occurred to me, you likely also have an old version - I upped the default to 24 hours a while back: https://github.com/opserver/Opserver/commit/0abe8c9566952f4c5be17868b617b560d1af0ebd

[2016-08-09 06:20] itssimple commented on #208
Our config said 2 hours, so I upped it to 24 hours now, thanks!
We're using the version that's available from nuget

[2016-08-10 14:57] #208 closed

[2016-08-18 14:22] IsaackRasmussen commented on #191
@mmillican thanks!

Your two steps with the powershell script made it work for me.

[2016-09-27 06:15] ZhiqiangTao opened #214 "Dose MySQL support?"

[2016-09-27 07:43] JustinPealing commented on #214
No, there is no support for MySQL execution plans, only Microsoft SQL Server Execution Plans.

[2016-10-08 11:10] NickCraver commented on #214
Not at the moment no, but there is progress on the .NET Core MySQL driver (the community version) which may offer hope. Th queries completely differ for the DMVs, though.

[2016-10-08 11:12] NickCraver commented on #151
I was finally able to reproduce this in our production environment, should have a fix in the next commit. It's part of a very large async overhaul simplifying how polling in general works.

[2016-10-17 08:44] win32nipuh commented on #151
Great, thanks

[2016-10-18 13:44] dcjulian29 opened #218 "NullReferenceException with Redis Master/Slave configuration"
[code]

**My RedisSettings.json:**

[code]

**Steps to Reproduce:**
1. Open Redis page in Internet Explorer 10.
2. Click on the "Master" link under the "Group" header.

**Other Observations**
The SlaveInstance of the Model.CurrentInstance object contains one element that is null.

**Other Information:**
- Git Branch: Overhaul
- Compiled in Visual Studio 2015 Update 3
- Running on Windows 10-1607
-

[2016-10-20 10:20] jakingfox opened #219 "Dashboard not showing graph when using Bosun"
Dear NickCraver,
I set up the DashboardSettings.json file, use is Bosun 0.5.0 Release, but not showing graph.
![5](https://cloud.githubusercontent.com/assets/5730269/19555090/f20b5f18-96ed-11e6-829e-7aa5b7d2aacc.png)

I call the api bleow, it failed.
![3](https://cloud.githubusercontent.com/assets/5730269/19555167/4c4b902e-96ee-11e6-8fc7-7fe1f1897f74.png)

I try to mark the first snippet
![6](http

[2016-10-26 16:45] nlowe opened #220 "Connecting to an Alpha / Beta elasticsearch cluster throws Format Exception"
Prerelease elasticsearch versions append `-alphaN` or `-betaN` (for example, `5.0.0-beta1`) where N is the nth release candidate or beta for a specific series. It appears that `System.Version` cannot parse this and as such the `Elasticsearch` page cannot be loaded.
### Proposed Solutions
1. Mask off any extra text using a regular expression and continue to parse with `System.Version`
2. Parse it w

[2016-10-31 22:30] nlowe opened #221 "Elasticsearch 5.0 Compatibility"
As far as I can tell, the only compatibility problems with ES 5.0 is dropping the `all` parameter from `_nodes/stats` and renaming `hostname` to `host`:

[code]

Without these changes, most of the node stats show up as unknown, and the status icon next to the cluster name reports 400 errors in the tooltip:

![image](https://cloud.githubusercontent.com/assets/794251/19873905/fd658e76-9f97-11e6-8efb

[2016-11-01 09:57] NickCraver commented on #221
Well, this sucks. I've berated them before about changing stuff like this that's a PITA across versions. Monitoring APIs shouldn't be needlessly broken like this.

I'll have to spin up 5.x to test some fixes here, since Opserver must continue to support all versions. Thanks for letting me know exactly what's broken, this is a huge time saver.

[2016-11-01 10:25] NickCraver commented on #218
A fix is in latest overhaul, thanks for the report!

[2016-11-01 10:25] #218 closed

[2016-11-01 10:26] NickCraver commented on #214
I'm closing this out as there is no action to take really. I think this will be an ideal candidate for plugins later - which is an achievable goal in a few months with the work the ASP.NET team is doing.

[2016-11-01 10:26] #214 closed

[2016-11-01 10:28] NickCraver commented on #202
Hwy @batzen, any updates here? I'm still very curious about improvements on the WMi front.

Related: I've pushed a lot of the major async overhauls needed for efficiency (and I'll continue to improve the first-hit experience).

[2016-11-01 10:29] NickCraver commented on #195
Closing this out, no info to go on.

[2016-11-01 10:29] #195 closed

[2016-11-01 10:31] NickCraver commented on #177
@chsword Nope, there's no real way we can do this without an indeterminate number of queries for any number of nodes, and *if* we did that it'd still only support one of many very narrow use cases. The honest answer here is: it's just not generally usable by most people...so adding support and complication for the case is something I don't see likely.

[2016-11-01 10:32] #52 closed

[2016-11-01 19:56] djlaney3 opened #222 "Object reference error"
I pulled the latest version and am getting an error in StatusController.cs, line 82:
`{"Object reference not set to an instance of an object."}`,
Stack Trace:
[code]

[2016-11-01 19:56] djlaney3 commented on #222
I am using WMI with AD authentication.

[2016-11-01 20:04] NickCraver commented on #222
Which branch are you using? I'm having trouble seeing where a null ref is there in overhaul.

[2016-11-01 20:18] djlaney3 commented on #222
Visual Studio tells me overhaul.  I pulled down a new zip and received the same error with my updated configs.  I tried to simplify my configs to see if that was the issue but it still occurred.

________________________________
From: Nick Craver <notifications@github.com>
Sent: Tuesday, November 1, 2016 3:04 PM
To: opserver/Opserver
Cc: djlaney3; Author
Subject: Re: [opserver/Opserver] Object ref

[2016-11-02 17:56] NickCraver commented on #222
I pushed some changes to modules just now - can you please try latest? At the least, we should have a better exception.

[2016-11-02 18:21] djlaney3 commented on #222
Still errors.  Here is the stack trace:
`   at StackExchange.Opserver.Data.Dashboard.DashboardModule.get_Enabled()
   at StackExchange.Opserver.Controllers.StatusController.DefaultAction() in C:\Users\dlaney\Downloads\Opserver-overhaul (2)\Opserver-overhaul\Opserver\Controllers\StatusController.cs:line 90
   at StackExchange.Opserver.Controllers.HomeController.Home() in C:\Users\dlaney\Downloads\O

[2016-11-02 18:54] NickCraver commented on #222
Okay, thanks for the debug info. I've got a handle on the actual issue now (the last error message was critical). I'm taking a look and fixing it now...if my laptop battery holds out. It's a result of all the async refactoring and one wait call in WMI.

[2016-11-02 18:58] NickCraver commented on #222
@djlaney3 Can you please give latest one more shot?

[2016-11-02 19:52] djlaney3 commented on #222
Still Errors.
Stack Trace:
`   at StackExchange.Opserver.Controllers.StatusController.DefaultAction() in D:\Git\Opserver\Opserver\Controllers\StatusController.cs:line 82
   at StackExchange.Opserver.Controllers.HomeController.Home() in D:\Git\Opserver\Opserver\Controllers\HomeController.cs:line 17
   at lambda_method(Closure , ControllerBase , Object[] )
   at System.Web.Mvc.ActionMethodDispatcher

[2016-11-02 20:02] djlaney3 commented on #222
Also to note, the line:
`if (s.Dashboard.Enabled && s.Dashboard.HasAccess())`
s.Dashboard is null when the error hits.  So i'm not sure if it is reading my dashboard settings file correctly.  I've dumbed it down to just 2 nodes, but the error still happens.

[2016-11-02 20:12] djlaney3 commented on #222
@NickCraver, I found the error.  My DashboardSettings.json had some erroneous characters, causing the file to not be read.  I was able to remedy that and all is working.  My apologies!

[2016-11-02 20:12] #222 closed

[2016-11-03 09:53] batzen commented on #202
I got everything working in my fork.

As said in #201 i still need to know which changes you would accept from my fork and which ones would get rejected.

You can review my changes at https://github.com/batzen/Opserver

If you decide to only accept parts of my changes i can still create a new branch/fork and only make the changes you would accept there.

And i would need to sync my fork ofc. ;-)

[2016-11-08 18:51] NickCraver commented on #221
I have pushed a fix for one half on this, but I'm discussing with the Elastic folks the very unecessary breaking change on the `all` parameter (which wasn't documented either) over here: https://github.com/elastic/elasticsearch/issues/21410

[2016-11-09 19:49] NickCraver commented on #221
@nlowe can you please give latest a try? Elasticsearch 5.0 should work now, but if you see any other breaks I'll open this back and address anything you find.

Thanks!

[2016-11-09 19:49] #221 closed

[2016-11-09 20:37] nlowe commented on #221
@NickCraver so far, looks like this fixed it, thanks for the quick turnaround! I'll keep an eye out for any other breakage.

[2016-11-09 21:21] NickCraver commented on #222
Thanks for helping track this down @djlaney3, I pushed a few fixes to that this doesn't hit others in such an unexpected way.

[2016-11-14 03:16] #220 closed

[2016-11-14 03:17] NickCraver commented on #220
@nlowe Can you give latest a try please?

[2016-11-14 14:24] nlowe commented on #220
@NickCraver We already upgraded our cluster to `5.0.0` GA. I'll see if I can spin up a beta node sometime today to test the fix.

[2016-11-14 17:51] nlowe commented on #220
Seems to have resolved the problem 👍 . Thanks!

[2016-11-20 16:35] chsword commented on #219
I have the same problem.

[2016-11-23 21:26] blyry commented on #191
Adding these lines to the above script will also take care of the local `Performance Log Users` group.

[code]

[2016-12-05 14:03] brunocatteau commented on #185
Hello,

![image](https://cloud.githubusercontent.com/assets/2759474/20887671/edc383f4-bafb-11e6-810d-c9900fce45c6.png)

I also detected this problem

Also with a problem of readability with the design "dark"

Thanks

[2016-12-20 14:43] djlaney3 commented on #157
@NickCraver I'd be happy to start on this.  I'd like to see it on the instance tab, but not sure what your thoughts are.  Can you comment on it?  It should be a pretty easy add that I can do being queries.

[2017-01-08 14:44] NickCraver commented on #219
Apologies this sat around, it should be fixed in https://github.com/opserver/Opserver/commit/a690c33823a241fb278c0b4df1221e76c99336c7.

[2017-01-08 14:52] #197 closed

[2017-01-08 14:53] NickCraver commented on #151
Closing this out, no longer an issue.

[2017-01-08 14:53] #151 closed

[2017-01-09 04:59] chsword commented on #219
Thanks. @NickCraver
But there's another case.
When there's a hyper-v adapter.

![image](https://cloud.githubusercontent.com/assets/274085/21757517/18e5ae6a-d66b-11e6-8c6b-276c469843da.png)

[2017-01-11 12:19] afscrome opened #231 "SQL Stats panel misaligned"
Just upgraded to the latest, and I noticed the stats in the SQL Stats pane are misaligned.  (Memory should be under CPU, not to the right).

![image](https://cloud.githubusercontent.com/assets/289860/21848312/09803646-d7f8-11e6-984d-eccf94ed1c86.png)

[2017-01-11 12:30] afscrome commented on #231
This is in Chrome 55.

[2017-01-20 15:01] mmillican commented on #191
@NickCraver Quick update:
I manually added my ops user to `Performance Log Users` and `Performance Monitor Users` on a few of our servers and am seeing more info such as CPU usage and history.  Still not sure I'm seeing everything (as I don't have anything to compare against), but there's some progress.

[2017-01-25 03:14] 564064202 opened #234 "does it suppurt rabbitmq?"
does it suppurt rabbitmq?

[2017-01-25 22:54] georgeduckett commented on #234
Not at present but it could be supported in the future. It's always good to have different options, although I'd like to get other bugs/issues ironed out before adding other providers. You're welcome to submit a pull request.

[2017-02-05 14:24] HansVader opened #238 "Opserver keeps trying to authenticate with the wrong account"
Hello,

I deployed Opserver to IIS and configured it to  use AD authentication in the `SecuritySettings.conf`.

[code]

I also configured the appropriate AD groups in the web.config file under the key "AdminGroups".
So when I navigate to `/about` I can see that my current role is `Global Admin`.

This is my `SQLSettings.json`
[code]

As soon as I try to watch something on this instance I get this

[2017-02-05 19:49] NickCraver commented on #238
A few things:
1. Not logging *that* error (login) is bad - I'll change this to be special cased so it surfaces in the exception log, with a helpful message.
2. There's some (very understandable) confusion around auth in general here. When you consider that Opserver is monitoring the SQL server *all the time* and once for `n` users, it's a little more apparent that it's never authenticating *as the

[2017-02-05 19:50] NickCraver commented on #234
In what capacity do you mean? The answer is "no" regardless - Opserver does nothing with RabbitMQ, but I'm curious what you're after. Monitoring RabbitMQ, or Opserver supporting it in some way for messaging?

[2017-02-05 20:37] HansVader commented on #238
Thanks for clearing things up.
Totally clear now. I will just create a service account then and all should be fine.

[2017-02-05 20:37] #238 closed

[2017-02-06 15:37] nlowe commented on #195
@NickCraver We're hitting this as well. My complete redis config looks something like this:

[code]

This is the exception we're getting:

[code]

Currently running 2a71f4d0be7299e7488636fafe6637e847bc6989 from the `overhaul` branch.

[2017-02-07 03:11] NickCraver commented on #177
Resolved via https://github.com/opserver/Opserver/commit/7d89b4a58f8143845f0691acc7b54c54fd79802b

[2017-02-07 03:11] #177 closed

[2017-02-07 11:16] NickCraver commented on #201
@batzen Sorry I've been swamped with life and so much OSS for far too long here - I see a lot of good changes on your branch there. I'm certainly not against making the dashboard *optional* (but off by default, due to laptop screen sizes). I need to make lots and lots of documentation here - something I have slated after a few more library releases we're working on.

Would you mind opening a PR? T

[2017-02-07 11:16] NickCraver commented on #201
Taking a look at the PR this week, trying to catch up here.

[2017-02-07 17:55] batzen commented on #201
Just created the PR #239 so it's easier for you to have a look. ;-)

The only changes that are not part of my branch are the changes to style.css and style.min.css because those are generated and cause conflicts every time they are changed...

[2017-02-08 03:40] NickCraver commented on #201
Now merged in - closing this one out to cleanup. Thank you!

[2017-02-08 03:40] #201 closed

[2017-02-08 04:10] phillijw commented on #234
You could probably monitor queue size pretty easily

[2017-02-08 11:30] NickCraver commented on #219
@chsword an you view that adapter in Bosun? It may have to do with the name (and tag encoding). If it works in Bosun, can you paste the adapter info and JSON query from Bosun here?

[2017-02-08 11:33] NickCraver commented on #231
Which OS are you on? I'm having trouble making this happen, happy to fix if I could repro.

[2017-02-08 16:15] afscrome commented on #231
I'm on Windows 7, zoomed in at 100%.  The cells do align correctly at some zoom levels (see below).  The value-block divs with progress bars are coming out at 42.2px with the others at at 41.8px.

* 80%: Works
* 90%: Broken
* 100%: Broken
* 110%: Works
* 125%: Broken
* 150%: Works

[2017-02-12 18:37] batzen commented on #202
Closing this one as you merged my PR. Thanks. ;-)

[2017-02-12 18:37] #202 closed

[2017-02-12 18:38] batzen commented on #200
Closing this as you merged my PR. Thanks. ;-)

[2017-02-12 18:38] #200 closed

[2017-02-12 19:09] GABeech opened #240 "Azure Support"
This issue will serve as the central point for managing
the progress of Azure support.

The initial support will be focused on collecting Metrics and basic
data about Azure resources.

If anyone has any requests, opinions or ideas on what should be supported please chime in here.

## Branch Isolation

We want plugin support to be in before supporting Azure
as part of the main poject. While this wo

[2017-02-15 07:06] chsword commented on #219
yes I use Bosun.

Node.Interfaces

![image](https://cloud.githubusercontent.com/assets/274085/22963837/476f27f6-f390-11e6-8c03-ef251ff0800c.png)

[2017-02-17 19:20] nlowe opened #242 "Clarification on Redis Config"
So in trying to get opserver to connect to our redis instances that are password protected (see comment in #195) I discovered that we also had to specify the password in the `instances` subsection for `allServers`. An exception is thrown on trying to connect otherwise.

What's the difference between `allServers` and `Servers` config sections?

[2017-02-26 15:22] yunfeifei opened #245 "Where the monitor data saved?"
How to config opserver to save monitor data and where it saved to,i find it after restartup,the data have lost!

[2017-02-27 09:52] smurariu2 commented on #245
It lives in memory until the app pool is recycled

[2017-02-28 14:49] tlimoncelli opened #246 "pagerduty page displays wrong oncall people"
Nick knows about this, but I'm creating an issue to track it.

[2017-03-01 16:44] nlowe opened #247 "Poor Performance when inspecting SQL Database with many tables"
The databases our primary application uses has just over 3000 tables. When looking at the database in OpServer, the loading animation is played for a few minutes. Eventually I get a warning that the chrome tab is unresponsive. If I wait a few more minutes, the view is populated with all tables. Scrolling is slow and the view is almost unusable.

Even for an almost empty database (52mb data, 21mb l

[2017-03-12 15:10] NickCraver commented on #246
Fixed in latest, it handled multiple schedules much better.

[2017-03-12 15:10] #246 closed

[2017-03-12 15:10] NickCraver commented on #245
@smurariu2 is correct if using WMI the data store is in-memory only, so there's no database dependency.

If you are using Bosun or Orion, the data is pulled from their stores.

[2017-03-12 15:11] NickCraver commented on #234
Closing this out barring more info - not sure what to answer here beyond the above.

[2017-03-12 15:11] #234 closed

[2017-03-12 20:30] #141 closed

[2017-03-12 20:30] NickCraver commented on #141
Issues button is back in 6da147a06fe159c23621359a360e815ce43e07e5:
<img width="1114" alt="screen shot 2017-03-12 at 16 22 40" src="https://cloud.githubusercontent.com/assets/454813/23835633/1388c69e-0741-11e7-8000-8e4acfd7eba9.png">

I'll improve this further, but gave them a fair bit of love in the above.

[2017-03-12 21:20] NickCraver commented on #134
Closing out to cleanup.

[2017-03-12 21:20] #134 closed

[2017-03-13 00:11] NickCraver commented on #247
@nlowe please give latest a try, it's not *awesome*, but it should be far better. To get this working smoothly, I'll have to fetch the columns async per-table for these crazy cases (for most databases it's fine as-is), so that's a totally new code path and UI handling.

See if the current performance works in the interim, it should be substantially improved for the large database case.

[2017-03-13 00:12] #245 closed

[2017-03-13 00:13] NickCraver commented on #191
@mmillican Did you ever this this working? I'll be adding github pages to the repo for docs with v2 release (overhaul -> master merge), and documenting what needed here would be awesome - of course you'll be able to PR those docs too

[2017-03-13 00:14] NickCraver commented on #110
Closing this out lacking any clear path here.

[2017-03-13 00:14] #110 closed

[2017-03-13 00:18] NickCraver opened #250 "SQL Server: Handle non-UTC servers"
Currently several assumptions are made about UTC time, while I think all servers should be running in UTC time that's obviously not reality and we need to handle it. Some PRs have tried this in a very heavy way - but I think we need something a bit simpler, possibly in a Dapper type converter on those types? Or a post-processor for server time offsets via an attribute on the properties for those D

[2017-03-13 00:20] mmillican commented on #191
@NickCraver I had a little more success with granting more permissions.  I'll look at my notes at work tomorrow and get them over to you.  Thanks!

[2017-03-13 02:21] NickCraver commented on #87
Bosun's up and running - closing this out to cleanup.

[2017-03-13 02:21] #87 closed

[2017-03-13 02:38] NickCraver commented on #158
Closing this out to consolidate into #191 which is tracking the permissions needed.

[2017-03-13 02:38] #158 closed

[2017-03-13 02:40] NickCraver commented on #126
Older IE may not be supporting SVGs there - all modern versions should. Closing this out to clean up :)

[2017-03-13 02:40] #126 closed

[2017-03-13 02:44] NickCraver commented on #71
Merging into #250 - plan is to solve this in a central way.

[2017-03-13 02:44] #71 closed

[2017-03-13 13:45] nlowe commented on #247
@NickCraver Loading the view does seem much faster with latest `overhaul`, but it still slows the chrome tab to a crawl while the view is open as expected.

I agree that this is most definitely an obscure edge case, just wanted to make sure you were aware of it. Thanks for the tips.

[2017-03-15 00:51] mmillican commented on #191
@NickCraver Sorry for the delay, again.

 I was able to do number 1 of [afscrome](https://github.com/opserver/Opserver/issues/191#issuecomment-222809667)'s post above manually, but for some reason I wasn't able to run number two (due to permissions IIRC).  I will try again tomorrow on one of my dev servers.

[2017-03-15 13:45] mmillican commented on #191
@NickCraver I'm not able to run the script due to Execution Policy and I don't have permission to change it.  Will have to ask a sys-admin to give me permissions and/or run it today and will get back to you then.

[2017-03-15 13:47] afscrome commented on #191
You should be able to change execution policy for your user without admin rights.  (The default is to set machine level, for which you do need admin rights)

[code]

[2017-03-15 13:52] mmillican commented on #191
@afscrome Thanks!  That worked.  When running the script, I got this message though:

[2017-03-15 13:54] afscrome commented on #191
Try invoking the script inside the Invoke-Command block directly on each machine, rather than using powershell remoting to do it.

[2017-03-15 13:59] mmillican commented on #191
Assuming (I'm somewhat unfamiliar with PS) I just comment out the 1st and last lines (`Invoke-Command...` and the closing `}`), I'm still getting an access denied error.

[2017-03-15 14:02] mmillican commented on #191
No problem, thanks for the help!  I'll ask a sysadmin to do it and let you know what happens.

[2017-03-22 21:46] mmillican commented on #191
@NickCraver @afscrome  I was finally able to run the script on a dev server and I don't see any additional information from when I added the user to the "Performance Log Users" group.

[2017-03-23 20:09] mmillican commented on #191
Just a quick update, I'm trying to debug this locally to figure out where the disconnect may be from what I think I should be seeing based on what's in the Razor view.

[2017-03-23 20:49] afscrome commented on #191
So I think something may have changed recently.  I've just upgraded to the latest build, and now I'm no longer getting CPU stats + a wall of errors (which are continually flashing in and out).

![image](https://cloud.githubusercontent.com/assets/289860/24269210/4dd1c2ae-1008-11e7-9a6b-79e4aace1888.png)

Even more interestingly, when I run under my account rather than the service account I get diff

[2017-03-23 21:53] mmillican commented on #191
I'm late to the error party (admission, I should have found this sooner), but I found some `Access Denied` errors from the WMI provider.  Unfortunately I don't know what node(s) these are for, so I will continue debugging this.

[2017-03-24 01:39] afscrome commented on #191
I've go this working in my local environment now and fixed a bug that was causing CPU metrics to not display - can you try #252 ?  AT the very least that will update exceptions to include the machine name of the server.

[2017-03-24 01:42] mmillican commented on #191
You beat me to the machine name logging! I'll give it a try later tonight. Thanks!

Matt Millican
(262) 565-8147

(sent from iPhone)

[2017-03-24 13:05] mmillican commented on #191
It appears my current errors are `Access Denied` across a variety of our servers.  Will start poking shortly.

[2017-04-19 14:08] Oleg26Dev opened #255 "Redis: cannot connect"
● d-srv: 6379 (View INFO)

Data unavailable for Core

Unable to fetch from Redis: It was not possible to connect to the redis server(s); to create a disconnected multiplexer, disable AbortOnConnectFail. SocketFailure on PING @    at StackExchange.Redis.ConnectionMultiplexer.ConnectImpl(Func`1 multiplexerFactory, TextWriter log)
   at StackExchange.Opserver.Data.Redis.RedisInstance.GetConnection(Bo

[2017-04-19 14:25] Oleg26Dev commented on #255
There is at Dashboard:
"● 2 Missing/Unknown Instances "

That is my config
{
    "allServers": {
        "name": "All",
        "instances": [
            {
                "name": "Core",
				"port": "6379",
				"analysisRegexes": {
					 "**Dev**": "^d-",
					 "**Live**": "^srv-",
					}
          }
        ]
    },
"Servers":[
      {
         "name":"d-11",
         "instances":[

[2017-04-19 14:54] Oleg26Dev commented on #255
I have replaced the server name with "localhost", it works.  It seems it cannot recognize the hostname for the local host.

[2017-04-19 21:37] NickCraver commented on #255
If you try to connect with `redis-cli` and the hostname, does it work? I'm not sure if this is a DNS resolution issue (which would be my first guess).

[2017-05-22 16:31] AdamMaras opened #257 ""Clear visible errors" from search redirects to wrong place"
**Steps to reproduce:**

1. Select a specific app in the Exceptions view
2. Search for exceptions from that app using the top search bar
3. Click "Clear visible errors"

**Expected behavior:**

After clearing the errors, Opserver redirects to the Exceptions view filtered to the app that was previously selected.

**Actual behavior:**

After clearing the errors, Opserver redirects to `/exceptions` a

[2017-05-25 02:33] NickCraver commented on #257
Fix is in cbe47afe347b6015d065f11296a9486f9bf014d2 (as well as a few related cases) - thanks!

[2017-05-25 02:33] #257 closed

[2017-05-25 13:43] djlaney3 opened #258 "Why does the login screen show when I have AD auth turned on?"
Why does the login screen show when I have AD auth turned on?
provider="ad" or "alladmin"
If I am using ad, <add key="AdminGroups" value="GroupIAmAPartOf" />.
IIS auth - i've tried windows, forms, Anonymous, but I continue to get kicked to the /login screen.  Any ideas?

[2017-05-25 14:01] djlaney3 commented on #258
I figured out my problem.   I was missing the server attribute in the securitySettings.config.  It should look like this: provider="ad" server="10.1.1.25, 10.1.1.26".  I'm not sure if that is documented anywhere.

[2017-05-25 14:01] #258 closed

[2017-05-25 14:02] djlaney3 commented on #258
Also, IIS should be on Forms authentication, as specified in the web.config already.

[2017-05-30 15:21] DanielFitzgerald opened #259 "How do I add Apps to my nodes? Using WMI Provider"
How are Apps added to nodes? I'm using WMI provider.

I'm also having trouble getting categories working in the DashBordSettings.json. My configuration is;

[code]
The pattern doesn't seem to pick up WEB.

I can write a WMI query to get the processes and their respective memory and CPU, is that how Apps is supposed to be populated?

Thanks

[2017-05-31 11:02] stebet opened #261 "Proposal: Change Disk Performance reporting"
Currently the the new disk/volume performance reporting is inconsistent between providers. For example for WMI it's pulling the number of bytes Read/Write whereas the Orion provider is giving the number of reads/writes.

The number of bytes being read/written to disk only tell half the story as that differs wildly between for example DB servers and web servers and is really dictated by the type of

[2017-05-31 11:24] stebet commented on #240
A small suggestion, maybe also add support for Azure Active Directory as an authentication provider? Or would consider that a separate issue/task since this is mostly about metrics?

[2017-06-01 16:23] omukwenyi opened #262 "SQL server Named Instances and IIS Monitoring"
I can configure monitoring of the default SQL instances but I am unable to get any headway with named instances  (MACHINE\INSTANCE). How do I represent them in the config file?

Is there any way to monitor IIS or any other service using Opserver?

[2017-06-01 19:04] omukwenyi commented on #262
After stepping through the code, I discovered that named instances have to be configured as MACHINE\\INSTANCE. The double backslash was the trick.

[2017-06-02 00:51] #262 closed

[2017-06-02 02:31] NickCraver commented on #262
You're right, this sucked. I'm overhauling the config files with a lot of comments as the first step of documentation for Opserver now. I've renamed them as well so they get proper syntax highlighting: https://github.com/opserver/Opserver/blob/master/Opserver/Config/SQLSettings.example.json

[2017-06-02 02:32] NickCraver commented on #259
Can you explain what you mean by "apps" here?

[2017-06-02 02:41] NickCraver commented on #242
I've updated the example config to hopefully be much clearer - can you please take a look? The current version is here: [RedisSettings.example.json](https://github.com/opserver/Opserver/blob/efac956a3ed898b79e698e63bf0b5e5cb1dc6635/Opserver/Config/RedisSettings.example.json)

[2017-06-02 09:50] DanielFitzgerald commented on #259
Sorry, I mean the Apps property on the Node class, StackExchange.Opserver.Data.Dashboard.Application. I don't see anything in WmiDataProvider.Polling which gets it but it's in WmiDataProvider.Data, is this just here to populate with a wmi query or is it specific to the Orion provider or, which is more likely, am I missing something? Thanks.

[2017-06-02 13:39] nlowe commented on #242
Yeah, that makes more sense (github butchers the comments in the preview sadly). Thanks!

[2017-06-02 13:39] #242 closed

[2017-06-05 09:40] HBollah opened #263 "Help getting Opserver deployed"
I must be a bit of a thicko here and not that familiar with VS. I have downloaded the code, opened the solution in VS, made changes to the security and added some SQL servers.

If I run this in debug mode, it all opens up fine and can browse the servers, databases etc.. But when I go to deploy to IIS (on my laptop for testing deployment) it seems half the files are missing and the site doesn't loa

[2017-06-05 12:06] HBollah commented on #263
Well, not sure what the issue with IIS is on my laptop, but copied the files to a server and it is working fine there, so please feel free to close this non issue :-)

[2017-06-06 08:18] HBollah opened #264 "CPU graph not showing for some servers"
Now that I have Opserver up and running and have a few servers being monitored on the SQL side, of the 30 odd servers that I'm monitoring about 5 of these are displaying the CPU usage for the past hour, but the rest isn't showing anything.

Is there something that needs to be enabled on these servers?

Thanks.

[2017-06-22 14:52] kylebrandt opened #266 "UI: Float Popup for Execution Plan Details is cut off"
For example:

![screen shot 2017-06-22 at 10 50 06 am](https://user-images.githubusercontent.com/1692624/27440410-a920b5f8-5738-11e7-8c1b-63feacde4e29.png)

In the example it is cut off to the side, and I also see it cut off by the bottom sometimes as well.

[2017-06-22 14:55] kylebrandt opened #267 "Feature Request: Estimated Plans on SQL Active Tab"
I believe the active tab is powered by whoisactive IIRC. That supports `@get_plans=1` which will show the estimated execution plan (at least as per this old answer https://dba.stackexchange.com/questions/1919/sp-whoisactive-and-get-plans-actual-plan).

It would be nice to be able to enable this option (off by default I assume) on the active tab, so you can get the same display as the Connections t

[2017-06-27 11:43] JoshKeegan opened #268 "Server Status due to Ping"
Hi,
We're just starting to use OpServer in production; so first of all, thanks it's looking great!

One small thing we've noticed though is that all of the servers we're monitoring (so far) apart from the one running bosun show with a warning:
![image](https://user-images.githubusercontent.com/1682204/27585783-7c3154f2-5b35-11e7-9322-5ce9865d9c0f.png)

Looking in the code it seems to be in `BosunD

[2017-07-19 15:23] ktngoykalolo opened #269 "Monitoring Network equipments"
Hello,
is it possible to monitor network devices (switches, routers and their interfaces) using SNMP ?
how to do that ?

[2017-07-22 09:31] eqTom commented on #269
Currently only if you do the SNMP polling using Solarwinds Orion, then link Opserver to Orion

[2017-07-26 06:07] itssimple opened #270 "How to load balance Opserver?"
Currently we have a HAProxy with 3 web servers up and running.

Is there some way to make Opserver load balanced, so it doesn't have to poll WMI-data among other services on all web servers?

Not that 3 connections to each service is too much, but I just wondered if it was possible. :)

And yes, Opserver is running on all 3 web servers, pool recycling is off.

[2017-07-26 06:08] itssimple commented on #263
You could always check the Event Viewer for warnings/errors from ASP.NET. :)

[2017-07-31 16:50] dhoynoski opened #271 "Remove dependency of Microsoft.Net.Compilers NuGet Package"
When I build Opserver with the C# 6.0 Roslyn compiler, compiler executables are generated in the _bin/roslyn_ folder. I have narrowed it down that it must be because of the NuGet package: **Microsoft.Net.Compilers**, but removing this package breaks Opserver and generates errors in compiler generated files.

How can I build Opserver without these Roslyn Compiler executables being generated?
Refere

[2017-07-31 16:57] dhoynoski commented on #271
I am porting Opserver over into an application that can benefit from it. The software allows for hosting of such projects, but it does not allow executables to be uploaded and/or run at runtime due to security reasons. I have been looking into this project and it is used to build on environments that don't have C#6.0 on them, but my environment has all the proper set up.

[2017-07-31 17:37] NickCraver commented on #271
@dhoynoski The problem is to support your environment use case, I have to hose everyone not in the same boat. I plan to drop the package in the ASP.NET Core move, but that's still a little ways off (I'm porting lib dependencies now). Before then, people get unexpected runtime errors and don't know why and generally broken builds all over randomly isn't an ideal situation.

[2017-07-31 17:44] dhoynoski commented on #271
@NickCraver Why do you need this NuGet package specifically? If I am compiling with Visual Studio 2017 with C#7.0 compiler, why can it not even build in Visual Studios? I haven't even gotten to the porting part. I just can't have these executables attached.

[2017-07-31 17:46] NickCraver commented on #271
@dhoynoski Because views can be compiled, injected, etc. on the server at runtime. This will be more important with plugins later as well. That's why they're deployed in the bin folder at all.

[2017-07-31 17:51] dhoynoski commented on #271
@NickCraver Is there a way to compile that not at runtime, but everything at compile time (i.e. to avoid deploying these compiler executables)?

[2017-07-31 17:52] NickCraver commented on #271
@dhoynoski Not without dropping support for users. I don't have stats about who's compiling with which tooling (nor in the documentation in general that great here), so I'm very wary of any such change. If you want to force view compilation on a fork though, it'd likely be okay provided you're n the latest build tooling.

[2017-07-31 17:54] dhoynoski commented on #271
@NickCraver What changes would I have to make to my local copy of Opserver to force total View compilation at compile time instead of runtime? Are there compiler specific flags I am missing to accomplish this?

[2017-07-31 17:57] NickCraver commented on #271
@dhoynoski The base views are already compiled, so if injection isn't needed (most don't), then remove the CodeDom and compilers packages and remove those lines from the .csproj (very top, very bottom of the file). NuGet *used* to handle this removal but no longer does in v4+.

[2017-07-31 18:14] dhoynoski commented on #271
I removed the CodeDom and Compilers package and then modified the .csproj files for both the Operserver and Opserver.Core, but compiling with Visual Studios c#7.0 compiler still won't build (it also won't build if I just compiler with the c#6.0 compiler).

I removed the following lines from both the Opserver.csproj and Opserver.Core.csproj:

**At the top:**

``<Import Project=
"..\packages\Microso

[2017-07-31 18:15] NickCraver commented on #271
@dhoynoski What does "won't build" mean? Please give me error messages...

[2017-07-31 18:23] dhoynoski commented on #271
I just noticed, NuGet removes those lines automatically actually if you do it through Visual Studios.

When I click build, the following errors are produced:

1.) ``Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1525	Invalid expression term ','	Opserver	c:\Users\dhoynoski\AppData\Local\Temp\Temporary ASP.NET Files\temp\36c6a5bc\1575aeed\App_Code.zcypk1cv.1.cs	1	Active``

2.)

[2017-07-31 19:40] dhoynoski commented on #271
@NickCraver Are you able to force compilation all at compile-time, instead of at runtime?

[2017-07-31 22:35] NickCraver commented on #271
Ah the `App_Code` folder special snowflake...yeah I'm unaware of a way around this until MVC 6 (ASP.NET Core) migration. You're welcome to try everything to get that working, but AFAIK it's not a supported scenario and it's why the NuGet packages exist.

[2017-08-01 16:47] dhoynoski commented on #271
Okay, I just want to get my thinking straight here on the reason why I basically can't avoid using this NuGet package. The reason why we need these two NuGet packages, is, in your own words, because:

However, it wouldn't make any sense if you couldn't just compile everything at compile time, like any other programming language, so there has to be another reason why Opserver must use this NuGet pa

[2017-08-01 17:49] NickCraver commented on #271
@dhoynoski Are you using App_Code folder with helpers with C# > 5 in ASP.NET MVC 5 projects? It's special, and AFAIK (as far as I know) there is no workaround for this outside the packages. The "solution" is to use a newer version of ASP.NET (which is ASP.NET Core). We'll get there eventually, but not anytime soon. There's a ton to do for such a move and all dependencies are not in place yet.

[2017-08-01 18:24] dhoynoski commented on #271
Opserver is currently using *App_Code* with *Helpers* and Opserver is written in C# version 6.0. I checked the version of MVC and it adds the following assembly to web.config:

`<add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />`

But it also is adding in the following:
`<dependentAssembly>`
        `<assemblyIdentity name="System.Web.Mvc" publicKe

[2017-08-04 14:21] StefanKert commented on #240
Is there any news on this? Sounds like a good idea to me. Do you want to proceed within a fork or is this more a feature-request?

[2017-08-17 13:33] kylebrandt opened #272 "Feature Request: Percentage Information in Redis Memory Analysis"
It would be helpful to have a relative numbers when looking at a memory analysis in the Key Pattern section:

![screen shot 2017-08-17 at 9 29 29 am](https://user-images.githubusercontent.com/1692624/29414732-b8646204-832e-11e7-96a1-d2c67ea05765.png)

That way one can quickly see that one of the patterns is using X% of memory. I think this would be fine in a tooltip if the problem is UI clutter. I

[2017-08-21 14:37] AlexSikilinda opened #273 "Loading more exceptions doesn't respect current exceptions group"
Scenario: I select an exception group, let's say "DEV". I scroll to the bottom of the page thus triggering `exceptions/load-more`  API. The problem is that this API call returns exceptions from all groups, not only "DEV".

This happens because we do not pass `group` parameter from JS:
![image](https://user-images.githubusercontent.com/1301414/29523852-f6a58672-8696-11e7-8add-b852041a2f78.png)

The

[2017-08-21 14:47] AlexSikilinda commented on #255
@Oleg26Dev this may happen because SSL is disabled by default.

Try changing `public bool UseSSL { get; set; } = false;` to `public bool UseSSL { get; set; } = true;` in `RedisSettings.cs`.

It probably may be configured from the config file, but I didn't try that. @NickCraver may help with this.

[2017-08-21 16:23] AlexSikilinda commented on #240
To @stebet's point, I would also add authorization for Microsoft accounts, since a lot of people use Microsoft accounts to access Azure portal and Visual Studio Online.

[2017-08-21 18:05] NickCraver commented on #273
Nope just missed it - if you submit a PR I'd love to have your name in the commit list :) Thanks!

[2017-08-28 15:19] AlexSikilinda opened #275 "Claims authentication for Opserver"
Hi,

I'm trying to host Opserver in Azure and use Azure Active Directory (AAD) authentication.
There is ActiveDirectoryProvider, but it doesn't seem to be working with AAD according to [this](https://stackoverflow.com/questions/20724861/ad-directory-programming-with-azure-active-directory).

So I decided to use `alladmin` approach with AAD handling all the authentication stuff ([quite straightforw

[2017-08-30 21:40] #273 closed

[2017-08-31 14:28] mqbk opened #278 "Error when Opening .sln"
I did a fork from the master branch. When I attempt to open the .sln, I get the error that Opserver (load faield) and Opserver.Core (load failed). When I attempt to reload both Opserver and Opserver.Code I get the following messages:
F:\Work\Opserver\Opserver\Opserver.csproj : error  : The attribute "Version" in element <PackageReference> is unrecognized.  F:\Work\Opserver\Opserver\Opserver.csproj

[2017-08-31 14:29] NickCraver commented on #278
What version of Visual Studio are you using? 2017 15.3 and higher is needed to open and build the solution.

[2017-08-31 14:32] mqbk commented on #278
I am guessing that is the problem. I am running VS 2015 version 14.0

[2017-08-31 14:37] mqbk commented on #278
would I be able to use the community version?

[2017-08-31 17:05] NickCraver commented on #278
@mqbk yep!

[2017-08-31 17:16] mqbk commented on #278
Thank you. I got it working now.

[2017-08-31 23:34] anatolieStepanov opened #279 "Install/Run"
Can I ran this app on a IIS localhost . I dont know how to deploy it for testing. I am using VS 2017, building solution, and pointing IIS to folder with source code.(dont know what to do with 2 class libraries).

[2017-08-31 23:35] anatolieStepanov commented on #279
Or can I debug this code somehow? thank you

[2017-08-31 23:46] kshyju commented on #279
You can publish the Opeserver project and point your IIS site to that location. It should work fine.

[2017-09-01 13:13] anatolieStepanov commented on #279
Yes I started with that but I get "can't reach this page". Thank you for your response, just wanted to make sure I am not missing something.

[2017-09-01 13:15] #279 closed

[2017-09-01 13:29] mqbk commented on #263
I know this is an old post, but I have the same issue deploying the application to a localhost. Any ideas would be greatly appreciated.

[2017-09-04 14:41] #278 closed

[2017-09-04 14:51] NickCraver commented on #271
@dhoynoski That's just how the ASP.NET framework works, it uses another compiler (built-in) which isn't C# 6+ aware. So you have to replace the compiler, and that's what the package does.

Yes you can downgrade everything to C# 5, but please be aware, the next step of evolution for Opserver is ASP.NET Core, so you'll definitely be forked so heavily that it's an EOL fork. One of the *many* changes

[2017-09-06 13:49] anatolieStepanov opened #283 "SecuritySettings"
I cant go pass Login page. No errors or access denied, it does redirect me when I try to brows directly to another page "http://opserver/login?ReturnUrl=%2fAbout". My SecuritySettings.config is set to:
Security Settings provider="alladmin" . Any ideas?

[2017-09-06 15:18] anatolieStepanov commented on #283
it works, probably didn't close current browser after made the changes to config file

[2017-09-06 15:18] #283 closed

[2017-09-07 15:54] mqbk commented on #74
@NickCraver I have setup bosun and added the host to the dashboard settings; however, when I run the Opserver, it says "No nodes available". If I enabled the wmi provider, I shown the nodes that are added. I have the scollector running on a few nodes, but I do not see anything being loaded. Here is a sample of my code for bosun:
"providers": {
    /* If using bosun, an API and a key (in recent bos

[2017-09-07 17:18] NickCraver commented on #74
@mqbk  If you look at /admin/errors, it should show you what exception is being thrown by the Bosun fetch :)

I'd guess it's either: HTTPS/port mismatch, or an API key mismatch. If you're on a very old version of Bosun, I'm not sure what would happen - that config isn't really a known or tested quantity.

[2017-09-07 17:26] mqbk commented on #74
@NickCraver Where would I get the API Key? I have searched all over to find one.

[2017-09-07 17:27] mqbk commented on #74
I found the error. IT says that there was an unexpected packet format.

[2017-09-07 18:23] mqbk commented on #74
I fixed it by changing https:// to http:// , and it worked. If anyone else runs into this issue. This may help

[2017-09-07 19:19] gmbeas opened #284 "Run Console"
Hello, how can you deal with console?

how to declare to execute the same of mvc, but in console?

[code]

Thank

[2017-09-09 13:30] kshyju opened #285 "Category filter on exceptions list page."
More of a feature request....

I use the category column of Exceptions table to store different type of log levels (`Info/Error/Debug`). It would be nice if we can have a filter in the exceptions list page to filter it based on the categories. We can have one default value (`Error`) in this filter.

[2017-09-11 08:23] smurariu2 commented on #285
+1

[2017-09-24 06:17] OverwindSlash opened #286 "Web publish error"
Hi, Guys
When I tried to publish Opserver project to Web Deploy Package，I  got this error on Web Publish Activity window :
D:\Workspace\Github\Opserver\Opserver.csproj(0,0): Error MSB4057: The target "Package" does not exist in the project.

I wonder to known whether it's a configuration error of my IDE (VS 2017 15.3.5) or something else?  Thanks in advance.

BTW. This project can run properly whe

[2017-09-25 18:11] mqbk opened #287 "Named SQL Instances part of Availability Group not being displayed properly"
I have two AG's that have named SQL instances in the group ie:
AG01
Node 1 = AG01\SQLINST
Node 2 = AG02\SQLINST

in my configuration file, I identified the nodes using \\. I am noticing that on the SQL tab, it's showing the servers in an offline state. Also when I select the the server name from the dashboard menu  ( i am using bosun to display my dashboard) it doesn't show me the tabs Stats, sql

[2017-09-29 13:48] OverwindSlash commented on #286
Hi, I think I probably found the problem.
Change
<Import Project="..\lib\Microsoft.WebApplication.targets" Condition="'$(VSToolsPath)' != ''" />
To
<Import Project="$(VSToolsPath)\WebApplications\Microsoft.WebApplication.targets" />
in Opserver.csproj  Line 679
and the build process can be done properly.

[2017-10-05 18:57] smally2189 opened #288 "WMI Logon Issues"
I have 20 servers on AD and I have another 10 on a Workgroup the admin username and password on the 2 sites are different. is there a way to add a second admin account to be able to scan these servers on the dashboard (not the sql dashboard)? I am using WMI to connect to these.

[2017-10-19 20:37] NickCraver commented on #284
I'm not sure of your goals here - the polling engine isn't fully decoupled from the web app (though this will likely happen in the move to ASP.NET Core), so for now: Console usages really aren't supported.

[2017-10-19 20:40] NickCraver commented on #270
At the moment, the best way to do that would be to place 2 of the 3 servers in backup mode so that only one spins up by default (this is what we do). At the moment, sharding of load isn't supported though it's a place I'd like to get to for security reasons as well. The end goal is to have the polling service run in one place and the web front-end access it from many (possible in a less secure are

[2017-10-19 20:46] NickCraver commented on #275
PR merged in - can you give current a try please?

[2017-10-23 11:21] AlexSikilinda commented on #275
It works! Thanks.

[2017-10-23 11:33] AlexSikilinda opened #290 "The target "MSDeployPublish" does not exist in the project"
Hi,

I pulled the last version and tried to deploy it via VS "publish" menu (we use publish profile file which points to Azure). It used to work, but now I get "The target "MSDeployPublish" does not exist in the project" error.

A little investigation showed that it was caused by commit `939c7331441fdf8ad85ed9fe6c2e8658fafc3acc` "Defunct the VS install on build servers" in which `Opserver.csproj`

[2017-10-23 11:35] AlexSikilinda commented on #290
Possibly a duplicate fo #286

[2017-11-06 06:36] #271 closed

[2017-11-13 00:58] NickCraver commented on #255
Closing out to cleanup, looks like a local DNS failure and not an Opserver issue directly.

[2017-11-13 00:58] #255 closed

[2017-11-13 00:59] NickCraver commented on #264
@HBollah is this still occurring in latest?

[2017-11-13 01:00] NickCraver commented on #269
This isn't a current on planned feature of Opserver, though it may be something to explore after the ASP.NET Core move (many more encrypted secrets to store associated with this).

[2017-11-13 01:22] NickCraver commented on #268
I've pushed a new option in latest to ignore the ping status, like this:
[code]

Please let me know if you have any issues!

[2017-11-13 01:22] #268 closed

[2017-11-13 01:23] NickCraver commented on #270
Closing out to cleanup, answered above!

[2017-11-13 01:23] #270 closed

[2017-11-13 01:35] NickCraver commented on #272
Added in 942802f27e367244960b4d54c2c20673cfe8b930 above, example view:
![image](https://user-images.githubusercontent.com/454813/32706144-07d18c1e-c7e9-11e7-935a-675e787cad05.png)

[2017-11-13 01:35] #272 closed

[2017-11-13 01:38] NickCraver commented on #287
Can you paste your JSON config here? It may just be a JSON escaping issue...let's see.

[2017-11-13 01:38] NickCraver commented on #288
There isn't a way currently (we use the app pools credentials), but after a move to ASP.NET Core, it's possible to add (in a secure way).

[2017-11-13 01:39] #284 closed

[2017-11-13 01:40] NickCraver commented on #231
I never was able to reproduce this - are you still seeing it?

[2017-11-13 21:50] KennethScott opened #292 "Support for Windows Services - request for feedback"
I recently added support for inquiring on the current state of Windows Services ([Win32_Services](https://msdn.microsoft.com/en-us/library/aa394418(v=vs.85).aspx)) via the WMI provider and I was wondering what kind of interest there might be in it.

I basically added a new Windows Services partial view underneath the Interfaces.  You control which services are monitored via a new DashboardSettings

[2017-11-13 21:59] djlaney3 commented on #292
I'd like to see that for sure.

[2017-11-14 08:54] omukwenyi commented on #292
Yeah. Most definitely.

[2017-11-16 11:56] #275 closed

[2017-11-18 01:08] NickCraver commented on #292
Closing this out to cleanup - it'll land shortly in #293, thanks for the feedback and the contribution!

[2017-11-18 01:08] #292 closed

[2017-11-21 16:57] mqbk commented on #287
/* Configuration for the SQL Server dashboard */
{
  // The default connection string used unless specifically provided on a node
  // $ServerName$ gets replaces with the name property of the instance
  "defaultConnectionString": "Data Source=$ServerName$;Initial Catalog=master;Integrated Security=SSPI;",
  // How often to poll all servers (defaults to 60 seconds if not configured)
  "refreshInter

[2017-11-23 00:49] NickCraver commented on #290
Can you please try latest?

[2017-11-23 00:49] NickCraver commented on #286
Fixed in latest for all, thanks!

[2017-11-23 00:49] #286 closed

[2017-11-23 07:08] l2999019 commented on #193
I also had the same problem, on Server2016..

![qq 20171123150759](https://user-images.githubusercontent.com/10385855/33161696-378d97de-d060-11e7-81dd-8a07eb89ca9e.png)

[2017-11-24 02:05] l2999019 opened #295 "Windows Server2008 R2 WMI Unable to read"
I can't read 52 of the information.like the graph
![image](https://user-images.githubusercontent.com/10385855/33192609-ba5c4b9e-d0fe-11e7-9f5e-b2296a7e65b6.png)

 but I can read it in the windows performance monitor   like the graph
![image](https://user-images.githubusercontent.com/10385855/33192655-0799c49a-d0ff-11e7-92d6-6dda336bca05.png)

[2017-11-30 10:50] hayriozler opened #296 "Elastic search settings"
Hi guys,
I would like to monitor elastic cluster with this great tool, unfortunately elastic is configured basic authentication but I could not see any option in elastic settings file, how can I configure our elastic cluster. you can see the my ElasticSettings.json file as below, #

{
    "clusters": [
        {
            "name": "Test Cluster",
            "refreshIntervalSeconds": 10,

[2017-11-30 22:09] computerwizjared opened #297 "Value cannot be null. Parameter name: source"
I'm having some issues setting up Opserver to talk to Bosun and its scollector agents. I'm not a .NET guy so I don't know much about the code aspect of the project, but I was able to get Opserver deployed to our IIS server successfully, and got Bosun/HBase/OpenTSDB set up and talking.

The issue I'm having is when I click on a server that shows up in the Dashboard for more details, I get the error

[2017-11-30 22:11] NickCraver commented on #297
We hit this as well - fixed this afternoon, just pull latest!

[2017-11-30 22:21] computerwizjared commented on #297
Perfect! Thank you so much for the prompt response! 😄

[2017-11-30 22:21] #297 closed

[2017-12-12 22:43] elvishfiend opened #299 "Filtering in SQL TOP page leads to 404"
We've got OpsServer installed as an application on a site, so the url is something like `https://ops.site.com/OpsServer/`

When applying a filter on the page `ops.site.com/OpsServer/sql/top?node=[node]`, it's instead setting the address as `ops.site.com/sql/top?node=[node]&[filter criteria]`, (dropping the OpsServer path) leading to a 404

[2017-12-13 23:53] elvishfiend commented on #287
It looks like it could be an issue where the AG Node Names aren't being escaped properly.
Your non-AG Nodes all have a double slash (e.g. `SPS-DEV\\EZPORTAL_SQLUAT`) but your AG Nodes all have single slashes (e.g. `DBASQLHAG01\SQL2012`)

[2017-12-14 20:44] mqbk commented on #287
I am looking at my file and I do have them. not sure why it didn't show up in here.

[2017-12-14 21:47] elvishfiend commented on #287
@mqbk fair enough - it may just be that it only treated some parts of the config that you pasted as actual code, and those were the bits that showed the double slash.
It might be worth fixing the markdown for the pasted config so that it's all treated as code.

[2018-01-05 16:55] stijnherreman opened #300 "Recommended method for managing configs"
What is the recommended way for managing your own configs, after having cloned this repo? Should you create a branch with your own configs, and then regularly merge from upstream?

How do you do it internally at SO?

[2018-01-29 16:33] SQLSourcerer commented on #264
@HBollah is it possible that some of your servers are set to GMT, while others are on local time? The ring buffer it polls from has 256 data points, one per minute. So if you're on local time, but within 256 minutes of GMT, you might see at least some sparkline. It would be the wrong hour, but that's not so obvious from the frontend. But if there's no overlap between the server's time and the last

[2018-01-30 19:15] SQLSourcerer opened #301 "Database names with spaces are not return error 404 when clicked on"
In the Databases tab, when I click on a database name that has spaces in it, instead of showing me the database details, I get an error 404

[2018-01-31 13:43] SQLSourcerer commented on #301
I think I may have found a solution

- In web.config, on the system.webServer/security/requestFiltering tag, add the allowDoubleEscaping attribute with value true
- In the Databases view, on the tr tag, change the data-dbname attribute to add .UrlEncode()
- In the DatabaseDetail action of SQLController, UrlDecode the database name as it's being assigned to the model property

[2018-01-31 16:23] SQLSourcerer commented on #301
I found one more place that needs UrlEncode added: In the Databases.Modal view, the RenderLink function

[2018-02-11 17:51] NickCraver commented on #301
Fixed in 48c55ff59afc1adefd16617e01464a33cdc40757, thanks!

[2018-02-11 17:51] #301 closed

[2018-02-11 17:53] NickCraver commented on #296
We don't currently support basic authentication to Elastic (I honestly didn't even know this was a thing) - I'm hesitant to add another plaintext version though...I want to get on ASP.NET Core with Opserver and provide secure credential storage in settings people expect.

[2018-02-11 17:53] NickCraver commented on #264
No info to go on here - happy to answers questions but cleaning up issues with no info to go on or updates.

[2018-02-11 17:53] #264 closed

[2018-02-11 18:57] NickCraver commented on #299
Fixed! Thanks for the report :)

[2018-02-11 18:57] #299 closed

[2018-02-11 18:58] NickCraver commented on #290
This should be resolved in latest, closing out :)

[2018-02-11 18:58] #290 closed

[2018-02-11 18:59] NickCraver commented on #231
Closing out with no info to go on - unable to get this to repro and was likely a browser layout issue temporarily.

[2018-02-11 18:59] #231 closed

[2018-02-11 19:02] NickCraver commented on #247
Going to close this out as I think it's the best we can *reasonably* do here :)

[2018-02-11 19:02] #247 closed

[2018-02-11 19:03] NickCraver commented on #84
Going to close this out as I don't see adding support anywhere in the near future for TeamCity - it's just not an area that'll see any investment.

[2018-02-11 19:03] #84 closed

[2018-02-11 19:05] NickCraver commented on #295
I see you're on a different culture as well - to be honest I'm not sure here. We haven't had any 2008 servers to test with in quite some time (and people are upgrading these days), so unless someone can point me in the right direction here with a test, I don't have enough info to go on. It could be:
- Permissions
- Culture differences causing a query miss
- The APIs are totally different and/or mi

[2018-02-11 19:08] NickCraver commented on #300
At SO what we do is maintain another repo with configs and merge that in on a build, simply copying the folder into \Config. But, the .config files are intentionally ignored from git, so you can just leave them in the directory as you pull latest.

In ASP.NET Core, I'll switch to their configuration system which will allow *many* more options already built by others, namely:
- Many more stores (js

[2018-02-12 08:43] stijnherreman commented on #300
That sounds like a good method, thanks.

[2018-02-12 08:43] #300 closed

[2018-02-13 11:10] HBollah opened #302 "IIS Permissions"
Hi All,

Wondering if anyone can help. I've setup 3 instances of opserver within Azure and all works fine when I have local admin on the server. I have setup the application pool to run under a service account, which allows connectivity to our SQL servers, but when my local admin is removed, the opserver site doesn't work anymore and says that my login ID doesn't have write access to C:\windows\mi

[2018-02-13 11:22] NickCraver commented on #302
Which version of windows are you on? Accounts used for application pools need membership in the `IIS_IUSRS` group, which should have permissions to that folder - can you see if that membership exists?

[2018-02-13 11:25] HBollah commented on #302
Hi Nick,

Appreciate the quick response. Once I get my admin rights back on the server I'll chuck the service account into that group and pray that GPO doesn't remove it from there (believe me, it's annoying, but necessary after a cyber attack back in June).

It is Windows Server 2012 R2 for reference.

Thanks

[2018-02-14 17:56] KennethScott opened #303 "Possible change to remove sysadmin requirement"
I've been playing around with a small change to remove the sysadmin requirement for the database user and wanted to ask for thoughts/feedback.

*This is in reference to issue #23 and the DBCC LOGINFO call that requires sysadmin.

I'm essentially just proposing an IF statement to check if the current user is sysadmin before attempting to populate the vlf temp table.  The way the code is already str

[2018-02-15 09:57] smurariu2 commented on #303
I could live with this ;)

[2018-02-15 14:42] mcsaunders commented on #191
I just wanted to add my experience in trying to get non-admin permissions configured in case it's of any help (spoiler: I couldn't get it working).  The steps taken were:

1. Added the service account to the `Performance Log Users` and `Performance Monitor Users` local user groups (`Performance Log Users` grants required DCOM permissions)
2. Granted WMI permissions using the script above
3. Extend

[2018-02-15 19:44] SQLSourcerer opened #304 "In /about/caches, JSON for SQL Server named instances returns 404"
When I have a named instance of SQL Server (i.e. name contains a backslash) and attempt to inspect the JSON for its caches in /about/caches, I get the 404 - Not Found page.

I tried changing the link on About.Caches.cshtml to use the new UrlPathEncode extension method. But apparently, that still wasn't enough to get the routing on JsonCache in DataController.cs to pick it up.

[2018-02-15 20:05] SQLSourcerer commented on #287
I think I might have a fix for the offline state problem at least: in SQLNode.ClusterInfo.cs, it's setting m.IsLocal based on comparing m.MemberName to ServerProperties.Data.?ServerName. If it instead looked at the network name to see whether its IsLocal flag is true, it would ge the right answer for named instance AG nodes.

Here's what I changed that line of code to
`m.IsLocal = state.Networks.E

[2018-02-15 22:39] SQLSourcerer commented on #303
What I'd really like to do is create a script that deploys stored procedures into an instance to be monitored, and sign the stored procedures with certificates associated with a sysadmin login. Then, Opserver can be granted permission to just the procedures, and it would call them instead of the queries it uses now. It's a little bit tricky to get this sort of script working (along with nice chara

[2018-02-16 01:21] NickCraver commented on #303
@KennethScott absolutely would love this change!

@SQLSourcerer While this may sound appealing to some, it's not a route I'd ever suggest. Installing stored procs across many servers is both a burden and a high bar to getting started. Given it's also not necessary, it's just a code path I'd never want to maintain. Version skew is also just very, very painful. Instead of pulling latest code on Opse

[2018-02-16 16:11] KennethScott opened #305 "IsVMHost incorrect on Windows Server 2016"
Has anyone else had trouble with Opserver monitoring Windows Server 2016 - specifically the inability to poll CPU utilization statistics via the WMI call?

We pointed Opserver at a 2016 server for the first time yesterday and quickly noticed the missing stats.  I've traced it down to the GetIsVMHost() call that's testing for the presence of the WMI class **Win32_PerfRawData_HvStats_HyperVHyperviso

[2018-02-18 20:57] msavara opened #307 "Who is active - possible wrong link"

[2018-02-18 22:03] KennethScott commented on #305
@NickCraver, what do you think?  Would you be open to this null check?  I can do a PR if you're not opposed.  Thanks-

[2018-02-19 00:46] NickCraver commented on #305
I'm not as familiar with WMI - I'm assuming `null` is distinctly different from an empty list here? I'm definitely okay with adding this if so. You can simplify quite a bit though:
[code]

[2018-02-19 01:24] NickCraver commented on #303
Fixed in #306, thank you!

[2018-02-19 01:24] #303 closed

[2018-02-19 01:26] NickCraver commented on #304
This should be resolved in latest - can you give it a try please?

[2018-02-19 02:18] KennethScott commented on #305
Yeah I think it's really about the way GetFirstResultAsync() is coded to try to get the FirstOrDefault ManagementObject, but there are none returned so it translates to null in this particular scenario.

[code]

To be honest, it's really strange to me why the class exists in 2016, but isn't populated.  But I think it's just an unexpected scenario based on the way this is coded really expecting an

[2018-02-19 11:02] NickCraver commented on #305
Fixed via #308 merged in - thank you!

[2018-02-19 11:02] #305 closed

[2018-02-19 15:26] SQLSourcerer commented on #304
No luck. I should clarify that I'm trying to get to the JSON for a particular cache, so ParentMemberName doesn't seem to be what was tripping it up. The path that's not finding its way into the JsonCache method in DataController looks like this: /json/SQL/SERVERNAME%5CINSTANCENAME/Databases

It seems to particularly dislike the backslash character in the path, even encoded. It happens on all the b

[2018-02-21 02:13] NickCraver commented on #123
Added in 054839b638fb3371e15d0bac4d63f2f57c508168

[2018-02-21 02:13] #123 closed

[2018-02-21 23:49] NickCraver commented on #302
@HBollah any luck here?

[2018-02-22 17:25] dsokol opened #310 "Storage Chart font color Blends In"
When disks gets full, the % Free goes missing:

![image](https://user-images.githubusercontent.com/133998/36553777-9f8ee2c4-17d3-11e8-8450-0a0b0f3ea969.png)

PR coming later to fix;  should likely just remain white.

[2018-02-22 20:31] KennethScott opened #311 "Change cursor to pointer when over clickable rows in database listing"
On the databases view for a single node (/Opserver/sql/databases?node=SERVER_NAME), it isn't intuitive that the tr's with the database names are clickable because the cursor doesn't change.  Proposing to simply add role="button" to the row's.  PR coming shortly.

[2018-02-23 00:47] NickCraver commented on #311
Fixed via #312, thanks!

[2018-02-25 23:11] elvishfiend opened #313 "Decimal Params not being generated properly in SQL Plan Detail view"
In the SQL Plan Detail view, the list of Compiled Params seems to bug out if there's a decimal param.
The decimal param is missing its scale, and missing the trailing comma.
There's also an additional list of params that don't show on other plan details.

This means that you can't just copy the query from OpsServer into SSMS like you can with other plan details.

![image](https://user-images.githu

[2018-02-26 11:24] HBollah commented on #302
@NickCraver Fingers crossed it seems to be working, but my admin permissions on the server will be revoked on Friday and then I'm on annual leave for 3 weeks :)

[2018-02-27 01:20] #313 closed

[2018-02-27 01:28] NickCraver commented on #313
I pushed a fix up for this, thanks for the heads up and let me know if there are any other problems with it!

[2018-02-27 01:28] #311 closed

[2018-02-27 01:29] NickCraver commented on #302
@HBollah awesome :) Going to close this out to cleanup!

[2018-02-27 01:29] #302 closed

[2018-02-27 02:43] elvishfiend commented on #313
@NickCraver Seems to be working fine, thanks.

[2018-02-27 02:49] elvishfiend opened #314 "SQL - indicate if Query has Missing Index recommendation"
A quick way to tell that a query may be tuneable is if there's a Missing Index recommendation in the SqlPlan.

There's currently no indication of this either in the SQL Top Queries page or on the Query Detail itself, but it would be helpful to at least have an icon on the Top Queries page showing that there's something worth looking into. (I know that Index recommendations can be junk - that's why

[2018-03-01 00:03] elvishfiend commented on #313
@NickCraver looks like it's still got the issue where it's including the param types just before the SELECT
I.e. `(@p0 char(1),@p1 decimal(35,6),@p2 decimal(35,6),@p3 char(1))` in the original pic

[2018-03-19 23:35] rducom opened #317 "Dashboard - Warning css class"
Just rebased our branch on origin master, and despite my efforts fine-tuning the warning setttings in the dashboard.config, everything is "warning-class css-ised" ...

Is this a bosun-version issue ? (which bosun / scollector version are you running ?)
Any ideas ?

Thanks in advance Nick !

![image](https://user-images.githubusercontent.com/5228175/37627726-18c6feea-2bd6-11e8-955d-7a06d567697d.png

[2018-04-07 10:58] rducom commented on #317
Fixed by the ignorePing flag
https://github.com/opserver/Opserver/issues/268

[2018-04-07 10:58] #317 closed

[2018-05-15 05:09] yashvit opened #318 "How to enable HAProxy admin access for Opserver so we can use the options such as DRAIN, MAINT ?"
Opserver is really the awesome-est monitoring tool I have come across! Been using it to monitor our SQL, Elasticsearch & now HAProxy.

Not able to figure out how to configure Opserver "adminUser" for HAProxy. Would be great to be able to manage frontend and backends.

[2018-05-18 16:01] Sacha-K opened #319 "Signing in with user.name@domain.com ends up with no configuration"
When you sign in with `user.name@domain.com` you get authenticated but the group membership check fails as it expects `user.name`

You end up only being in the Authenticated role and seeing the no configuration error message which is confusing.

[2018-05-25 02:11] dwdii commented on #296
I recently added support for basic authentication (a la X-Pack), as well as optionally ignoring HTTPS certificate validation errors (I'm using a self-signed cert) in my fork. See my updated [ElasticSettings.example.json](https://github.com/dwdii/Opserver/blob/master/Opserver/Config/ElasticSettings.example.json) for details. Admittedly, the password is not in secure credential storage. Maybe that c

[2018-06-12 01:05] NickCraver commented on #318
To enable this, you'll need to configure an admin username and password in HAProxy, and then set `"adminUser"` and `"adminPassword"` on your config. Any user in the admin group for either HAProxy or globally will then see actions enabled :)

[2018-06-12 01:11] NickCraver commented on #314
Are you picturing an icon on the individual query results, or on the main listing? Just trying to understand the desire here. On the main listing would be very costly, as it would require bringing back the entire pain and shredding the XML to determine the boolean. In the detail window: it's much more doable.

[2018-06-12 01:18] #295 closed

[2018-06-12 01:22] elvishfiend commented on #314
I had originally pictured it on the main listing - but then I went and had a look at doing it myself, and I see what you mean about the pain.
I think having it in the Query Detail will be a big enough win - you see a slow plan, you open it, "Possible Missing Index!"

[2018-06-20 15:27] Oleg26Dev opened #321 "Any plans about PostgreSQL?"
Is it possible to implement PostgreSQL servers monitoring?

[2018-07-23 19:53] marcosfreccia commented on #263
I am running into the same problem. I am not an expert, but with IIS Express, I can get it running, but when deploying to IIS, I get HTTP 500.

Anyone would be able to give me some hints on where to check?

[2018-07-24 07:13] HBollah commented on #263
The difference I found was when you have the files added into Visual Studio you need to complete a build of the project, then deploy the files to the server.

[2018-07-24 09:05] marcosfreccia commented on #263
So.. I have deployed the website and still can't get it wrong.. I might be missing something really simple.

![image](https://user-images.githubusercontent.com/29305097/43127809-a75453f2-8f30-11e8-8988-8ca18ad5cba7.png)

This is what looks like in the Server
![image](https://user-images.githubusercontent.com/29305097/43127835-b7e240a8-8f30-11e8-986e-3e2341a5fc6f.png)

And under config I have inclu

[2018-08-17 10:14] Sacha-K opened #324 "With WMI no error when server is lost"
I'm using a very simple configuration with just WMI as a source for the dashboard.

When a server goes down there is no error or warning. If you put your mouse over the server name it says `Last Updated: 2 hours ago` or if you go in the server details page the `As of 2 hours ago` text in the top right is red, but that's all.

Am I missing something?

[2018-08-17 10:26] Sacha-K opened #325 "No "connection refresh" on server reboot with WMI"
When a server reboots the WMI connection is somehow lost it seems and there is no `Poll now` as in SQL to force a re-connection / refresh or anything like that. You need to go restart the application pool and you loose all cached values.

Also you have a weird / false slope in the charts because a zero value for the current time is added.

![image](https://user-images.githubusercontent.com/2267758

[2018-08-19 03:59] objectboy2016 opened #326 "mongodb,SQL execution log"
Can mongodb be monitored?
What about SQL execution logs?
Do you have any plans?

[2018-09-25 15:30] itssimple opened #327 "Build server error (AppVeyor)"
Hi!

We're trying to automate upgrades of Opserver while still retaining our configs.

So I made a batch-script that clones the master-branch.
It's supposed to do a nuget restore / dotnet restore and then build it and deploy to a temporary directory.

But I get a strange error about Dapper that I cannot quite figure out what I've done wrong with.

Here's the log from the script:
https://paste.fuel

[2018-09-25 16:21] NickCraver commented on #327
Some SDK behavior here has changed - can you try running a `dotnet restore` in the root before building? or a `msbuild /t:Restore`?

[2018-09-27 13:30] itssimple opened #329 "ExceptionsController: JSON-endpoints to get status + list of exceptions"
Would you be interested in having an endpoint that exposes the status (`ExceptionsModule.*`)
and one that returns a list of exceptions?

It'd make two great endpoints for use with internal integrations (like having a warning system that go off if there are too many recent exceptions).

I would like to contribute to this wonderful project by adding these. :)

[2018-09-30 15:19] Sacha-K commented on #324
This is because in `WmiNode.PollNodeInfoAsync()` and `WmiNode.PollStats()` the `catch (COMException e)` cann't work as `WmiQuery.Result` throws an `Exception` with `COMException` as the inner exception.

[2018-09-30 15:42] Sacha-K commented on #325
On a Windows 10 Pro with just localhost added to the dashboard I get `COMException: The RPC server is unavailable. (Exception from HRESULT: 0x800706BA)` after restarting the WMI service, as if the service was still down.

But it's actually some authentication issue it seems, with a remote host you get something along "access denied" (didn't write down the exact message).

[2018-09-30 19:52] Sacha-K commented on #325
So adding `_scopeCache.Clear()`; and `_searcherCache.Clear();` in the `catch (Exception ex)` in `WmiQuery.Result` makes it able to recover when the WMI service in restarted, but it's not exactly subtle.

I'm testing with localhost here. I need to check what the exact "access denied" is for a remote server to put a check, and remove just the rebooted server values from the caches.

[2018-09-30 20:33] #324 closed

[2018-09-30 20:35] NickCraver commented on #321
@gortok Given the views, counters, and DMV-based nature of SQL Server, it's basically *all* of the SQL code. It'd be a very large undertaking (and probably duplication) to add Postgres (or MySql). The overall approach may just not even work, I'm not familiar enough with monitoring on those platforms to say either way.

You can find the SQL polling code here: https://github.com/opserver/Opserver/tr

[2018-09-30 20:54] gortok commented on #321
@NickCraver my first goal would be to get the simplest amount of instrumentation in place, and extend that as we go. If you don’t expect like-in-kind support out of the gate then this is the plan. What are your thoughts on this plan? Do you want a mature fork or something alpha-ish and iterate on it?

[2018-09-30 21:06] NickCraver commented on #321
@gortok I'd take a stab with a fork at the moment...you're going to see me going nuts converting this to AspNetCore at night for the next little bit here :)

[2018-10-01 22:26] scorellis opened #332 "AG status misspelling"
https://github.com/opserver/Opserver/blob/ddb2c72ca298b7af9ced4a5bc0aad7b41113aa1b/Opserver.Core/Data/SQL/Enums.cs#L133

Revalidation is spelled "Revaldiation"

[2018-10-11 01:01] 286fadf8 opened #333 "Inefficient Query in SQLInstance.Databases.cs (plus suggested fix!)"
Sorry for not doing a proper PR for this, but figured this would probably be faster.  On some of our instances the query which runs from ```SQL\SQLInstance.Databases.cs@26``` takes several minutes to complete (in SSMS - in Opserver, it times out) and chews up a ton of CPU.  Here is a refactored version that completes in a second on the problematic instancess (sorry, formatting has been changed to

[2018-11-10 01:10] gdoddsy opened #334 "CSS doesn't load properly before first sign in (or when using incognito browsing)"
When you connect for the first time, the css doesn't load for the login page.

This can also be reproduced by opening in incognito mode in chrome.

![before](https://user-images.githubusercontent.com/25063374/48295608-9e55d580-e4e1-11e8-8960-399ba2325850.PNG)
![after](https://user-images.githubusercontent.com/25063374/48295607-9e55d580-e4e1-11e8-9a9c-b1a9bf1baf18.PNG)

[2018-11-10 01:15] NickCraver commented on #334
How is your IIS instance configured? It sounds like even the login resources are behind auth at the IIS (not application) level.

[2018-11-12 13:10] NickCraver commented on #334
In IIS there's a section for authentication settings...seems you don't have defaults there, so it's gating everything. Check which authentication options are enabled there and I can help more :)

[2018-11-13 01:19] gdoddsy commented on #334
Nick - Anonymous Authentication and Forms Authentication are both enabled. That was the default that IIS setup.

![image](https://user-images.githubusercontent.com/25063374/48384394-48319e00-e73e-11e8-9354-a2c15cd2d2ca.png)

[2018-11-20 13:12] dharmenbavaria opened #335 "Is it possible to get the application name which query run in which application?"
We use opserver for our test environment in SQL server to find top queries and many other features of opserver. but the same database is used by a number of application. So sometimes while seeing the top queries we cant really find out which query was executed by which application. We probably get application name in sql server profiler, so was checking if there was some kind of configuration whic

[2018-11-22 06:19] elvishfiend commented on #335
It should be possible to get it to show in the Active page, because that's based on current activity.

It's not possible to get it for the Top Queries page, because it's based on Query Execution statistics which don't persist application information.

Something I've heard @NickCraver/Stack Overflow have used in the past was an extension method on the application's ORM that appended application and

[2018-11-23 16:10] dharmenbavaria commented on #335
@NickCraver/Stack Overflow do you have any example for this? I would really appreciate a help.

[2018-11-23 16:12] NickCraver commented on #335
Yeah sure - here's a gist of how we do this with Dapper today - this is marking for file path and line number instead of app, but you could easily add app in there too: https://gist.github.com/NickCraver/c6f371bf8df37e05c4f09fd3c02ef6a2

[2018-11-27 19:09] #325 closed

[2018-12-04 08:43] bnicoldev opened #337 "WMI permissions short of admin are very tricky - are you sure they are setup correctly? There are several WMI browsing tools out there - try the credentials in them remotely as a sanity check...since that's what Opserver will be doing. No special config is needed, it'll be running as the application pool account."
_Originally posted by @NickCraver in https://github.com/opserver/Opserver/issues/191#issuecomment-222235599_

[2018-12-06 13:02] #337 closed

[2018-12-07 00:57] nickluu2018 commented on #135
Is it the latest version? I just download opserver-master.zip. Please advice

[2018-12-07 02:49] nickluu2018 commented on #135
Hi Nick, what code should I use? "master" or "overhaul"
Thanks

[2018-12-07 05:04] nickluu2018 opened #338 "No data of Performance, Memory&Storage, Cache and Waits on SQL Dashboard"
Given sp_Blitz(*) have installed on the SQL instance, there is no show data of Performance, Memory&Storage, Cache and Waits on SQL Dashboard.
Testing on both version "master" and "overhaul" but no luck.

Do I miss any thing?
Thanks.

[2018-12-07 14:16] liotims opened #339 "UI: SQL Server Agent Jobs list is cut off"
I have a bug when I want to display the job list.
![opserver bug job list](https://user-images.githubusercontent.com/3442191/49652494-7f8c2580-fa32-11e8-8e40-bd00805ed93c.jpg)

When I look in development window I see that the css class for modal-lg use width: 900px;
I change this value in "opserver\Content\themes\light\styles.min.css" to 70% to resolve this issue.

Chrome Version 70.0.3538.102 (Bu

[2018-12-10 13:46] faygate commented on #287
@SQLSourcerer Thanks for the code change, worked in my copy of the code, but not when one of my nodes in the AG is a clustered instance. I therefore also had to change the SQL called in GetFetchSQL for the AGClusterNetworkInfo class in Opserver.Core\Data\SQL\SQLNode.ClusterInfo.cs to:

[code]

Just posting here in case it's useful to anyone else :)

[2018-12-13 09:13] gagandeepp commented on #334
@gdoddsy This is working fine I have tested it on my end on firefox,chrome,edge and IE

[2019-02-06 14:19] #327 closed

[2019-02-11 02:55] ScottBurfieldMills commented on #285
This feature would be excellent for my use case and I can take a look at making an initial pull request for it.

The UI work would require an extra column to display the Category and allow sorting `Asc`/`Desc`.

@NickCraver does this project need to support v1 and v2 of Exceptional?

[2019-02-18 08:09] hamedmaleki1366 commented on #318
hi all,
i have a user for stats and is working on OPServer  for fetching Logs .

but how can i define a adminuser for using in OPServer ?

this is my Config file where i should create adminuser and how can i do it ?

`#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   htt

[2019-03-12 21:26] JoliverFL commented on #263
Having the same issue here.  Looks like I will have to give up on OpServer.  After deployment all I get its Error 500.  :-(   Did you ever get it working Marcos?

[2019-03-12 22:26] zacatkogan commented on #263
If you folks turn on friendly Error Messages, what do you get?

Add these tags in the appropriate places to your web.config:

[code]

[2019-03-13 14:31] JoliverFL commented on #263
![image](https://user-images.githubusercontent.com/48488764/54286917-1957f700-457b-11e9-8725-1713c93ca2ad.png)

[2019-03-13 17:42] JoliverFL commented on #263
I found that I did not have Windows Authentication installed in IIS.  One that was installed I now get the following:

[ReflectionTypeLoadException: Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information.]
   System.Reflection.RuntimeModule.GetTypes(RuntimeModule module) +0
   System.Reflection.Assembly.GetTypes() +112
   System.Linq.<SelectM

[2019-03-13 23:28] zacatkogan commented on #263
Fittingly, [this SO post](https://stackoverflow.com/a/2658326/6617427) has some suggestions as to what the problem may be, and how to fix it.
Aside from that, you could put some Exception Handling code around the [GetTypes call](https://github.com/opserver/Opserver/blob/1f0a77038496bac38d64614f0119e6f3fdb3734b/Opserver/Models/TopTabs.cs#L47), which is where the exception is occurring.

[2019-03-21 10:39] zjuka opened #342 "Some Instances cannot be found on one SQL Server"
Hello,

I have issue when SQL Server with 10+ instances shows 7/10 and cannot find other 3. Why this can happen, where I need to dig?

Example of error:
`Unable to fetch from SQL: Error opening connection to master at SQL1\NI8, timeout out at 5,000 ms @ at StackExchange.Opserver.Helpers.Connection.<GetOpenAsync>d__1.MoveNext() --- End of stack trace from previous location where exception was throw

[2019-03-30 07:33] haraman21 commented on #338
I have a scenario like this:
* 2 independent servers, ServerA and ServerB, with Opserver running on both servers and monitoring SQL Express 2008 R2 on servers itself and also each other, everything working fine. Both instances default named as MSSQLSERVER and connection strings as:
"connectionString": "Data Source=ServerIP;Initial Catalog=master;Persist Security Info=True;User ID=UID;Password=PWD"

[2019-03-30 20:47] haraman21 commented on #338
Further digging into *Model.CurrentInstance.PerfCounters.Data*
* *ObjectName* is being stored in the format "MSSQL$INSTANCENAME:xxxxx", as in my case MSSQL$MSSQLSERVER2014
* For remote connection, setting ServerIP\InstanceName as Data Source in connectionString results in connection failure.
* When only ServerIP is set as Data Source, system connects but *SQLInstance* sets *ObjectName* as "SQLServ

[2019-05-07 15:34] MHotton commented on #263
I finally got it working after experiencing the HTML 500 error for few hours.

Make sure you have on ISS:
- ASP.NET 4.5
- .NET Extensibility 4.5
- Windows authentication

If you can get the deployment working within Visual studios on IIS express then it's most likely to do ASP compiling issues.

[2019-06-06 06:52] josesky opened #344 "How to record multiple IP addresses for one host"
How to record multiple IP addresses for one host，

[2019-06-13 09:25] tomaustin700 opened #345 "Show SQL Databases on dashboard"
Hi,

Is it possible to show SQL databases on the dashboard?

Thanks

[2019-06-14 09:05] #345 closed

[2019-07-09 01:15] NickCraver commented on #335
I'm going to close this out as the answer is above :)

[2019-07-09 01:15] #335 closed

[2019-07-09 01:15] NickCraver commented on #332
This was fixed in #340 - thanks for the report!

[2019-07-09 01:15] #332 closed

[2019-07-09 01:16] NickCraver commented on #344
Can you please elaborate on what you're trying to do here?

[2019-07-09 01:19] #326 closed

[2019-07-18 18:33] Rabosa616 opened #349 "Docker"
Any idea to deploy into docker instead of an IIS?

[2019-07-18 18:40] NickCraver commented on #349
Yes there is! The reason for there not being much noise is an active port to .NET Core 3.0. We have this up and working in Docker/K8s at Stack Overflow but still have a lot of issues to work through with config, secrets, etc.

If you want to try and give anything a spin, it's the `craver/aspnetcore` branch that I'm working in.

[2019-07-30 06:05] 0UserName opened #350 "Opserver maintaining"
From [Sunsetting Bosun at Stack Overflow and Call for New Bosun Maintainer(s)](https://bosun.org/call)

What about **Opserver** itself? It still maintaining by Stack Exchange? Are there any plans to move away from **Opserver** as in the case of  **Bosun**?

[2019-08-01 21:38] NickCraver commented on #350
Yep, still maintained. I'm working on migrating it to .NET Core and making it container friendly in the `craver/aspnetcore` branch. There are no plans to deprecate Opserver. We use it daily and will be adapting it to the new monitoring system (we're evaluating options now).

[2019-08-03 09:44] #350 closed

[2019-08-03 13:59] 0UserName opened #351 "State and Batches columns in SQL dashboard are empty"
I have a **WSFC** cluster where there are a number of resources separated by their own groups - **AG**. The following snippet is an example of my **Opserver** configuration:

[code]

But with the described config, I have the following result:

![dashboard](https://user-images.githubusercontent.com/46850587/62412525-762c7a80-b60c-11e9-93f8-728f9d1a535c.PNG)

If go deeper in source code, then I foun

[2019-08-04 12:27] 0UserName commented on #351
I think using named instances is expected, but using listeners also works, except for showing details by nodes in `sql/servers`.

[2019-08-09 09:50] 0UserName commented on #351
Anybody?

[2019-08-16 10:10] 0UserName opened #353 "Zabbix LLD for API controller"
I want to expand the API controller **Opserver** to provide the ability to automatically detect items (Redis for example) for the monitor. This also applies to the project, that is, can it merge with production.

---

[Low-level discovery](https://www.zabbix.com/documentation/4.0/manual/discovery/low_level_discovery)

[2019-09-04 11:30] pkunze commented on #191
I am experiencing the same behaviour as @mcsaunders.
I would be able and willing to provide more info, if that helps resolving the issue.
Is there anything I can do to help?

[2019-09-05 17:44] FLSQLGeek opened #354 "Build Errors"
**When running the build process below:**

C:\inetpub\wwwroot\Opserver-master>"C:\Windows\Microsoft.NET\Framework64\v4.0.30
319\MSBuild.exe" "Opserver.sln" /p:configuration=debug

**I then get the following errors:**

Microsoft (R) Build Engine version 4.7.3062.0
[Microsoft .NET Framework, version 4.0.30319.42000]
Copyright (C) Microsoft Corporation. All rights reserved.

Building the projects in

[2019-09-07 09:01] 0UserName commented on #351
Is it possible get feedback?

[2019-10-05 21:44] arielbvargas opened #356 "PagerDuty Object reference not set to an instance of an object."
Don´t know if it's a configuration error, or an unexpected behaviour:

With the following PagerDutySettings.json:
/* Configuration for the PagerDuty dashboard */
{
  // (Required) PagerDuty API key
  "APIKey": "XXXX",
  "APIBaseURL": "https://XXXX.pagerduty.com/api/v1",

  /* Map of Opserver account names (usually Active Directory) to PagerDuty emails
   With this provided, known users can take on

[2019-11-06 20:58] johnmwright opened #357 "Sql query plan index details shows scientific notation that is longer than base10 number"
When showing the details table on an index in the sql query plan, some of the numbers display in scientific notation (ex: `1.80534e+007`) even when the  base10 number would take up less space (ex: `18053400`).

In my opinion, there are few, if any, cases where the scientific notation would be preferred over the more-human-readable base10 notation, so I would suggest that the display logic be modif

[2019-11-14 19:58] tshirey opened #358 "Database error showing "Readonly" for snapshot database"
Is there a way to modify the alerting/issue behavior when a database is supposed to be readonly as in a snapshot database?

[2019-11-25 20:07] tshirey opened #360 "PagerDuty APIv1 Retired"
Now that PagerDuty has retired API v1, has anyone created a  new example file to use?

[2019-12-06 17:35] #358 closed

[2019-12-09 05:57] bigear001 opened #361 "低价出售二线商用交易所wx: sxonem"
低价出售二线商用交易所wx: sxonem

[2019-12-09 11:14] #361 closed

[2019-12-13 20:45] cperez120 opened #362 "Violation of PRIMARY KEY constraint in dbo.@PCounters"
Original query inside the SQLInstance.PerfCounters.cs
`Declare @PCounters Table (object_name nvarchar(128),
                          counter_name nvarchar(128),
                          instance_name nvarchar(128),
                          cntr_value bigint,
                          cntr_type int,
                          Primary Key(object_name, counter_name, instance_name));

Insert Into @P

[2020-01-03 00:49] Jaxelr opened #364 "Docs: Deadlink to tablesorter lib"
The link for [tablesorter](http://tablesorter.com/) lib on the readme leads to a closed page, I suggest it should href to the [github page](https://github.com/christianbach/tablesorter) instead.

[2020-02-03 05:33] tmacharia opened #366 "Unable to fetch from Redis"
![image](https://user-images.githubusercontent.com/29064426/73627884-77903b80-465f-11ea-9935-a1495d1c6c01.png)
`
  Unable to fetch from Redis: One or more errors occurred. @    at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions)
   at System.Threading.Tasks.Task.Wait(Int32 millisecondsTimeout, CancellationToken cancellationToken)
   at StackExchange.Redis.Conne

[2020-02-06 08:49] itssimple commented on #318
This is how my backend (with modifications) looks for the stats, with working admin-tools to `DRAIN`, `MAINT` and `READY` backends and servers.

[code]

.. and then the [`userlist`](https://cbonte.github.io/haproxy-dconv/2.1/configuration.html#3.4), in my config, this is at the very top of the file.

[code]

So, for your config to work, you need the [`stats admin`](https://cbonte.github.io/haproxy

[2020-02-06 19:11] xanemadman opened #367 "Opserver Database Modal Popup Error"
I'm encountering an error on the modal that displays database information.  From what I can tell from debugging the application, a null value is being passed where a string is expected.

![image](https://user-images.githubusercontent.com/18033616/73969804-116b1900-48ea-11ea-8637-2b012e40d99b.png)

It appears that the null value should be the index name, so I queried the database and found that the

[2020-02-08 23:09] NickCraver commented on #364
Thanks! This is fixed in the .NET Core 3.1 branch :)

[2020-02-08 23:09] #364 closed

[2020-02-09 00:44] NickCraver commented on #360
The latest example file removes the URL (since it's always the same) - you can find it in `master` here: [Opserver/Config/PagerDutySettings.example.json](https://github.com/opserver/Opserver/blob/408597868e9af6f1b0179d7c54fec9cd02b56ef5/Opserver/Config/PagerDutySettings.example.json)

[2020-02-09 00:45] NickCraver commented on #356
Are you seeing this on latest? The config suggests PagerDuty v1 and we upgraded to their v2 API some time ago (and updated lots of views with it).

[2020-02-09 00:49] NickCraver commented on #354
This will go away with the .NET Core version (almost ready to merge) - we'll be on .NET Core 3.1 and then a simple `dotnet build` will do everything we need. In this case it looks like you're using an older version of MSBuild...but .NET Core will eliminate that. Plus we can ship it as a container and such.

[2020-02-09 00:51] NickCraver commented on #344
Going to close this out without more info to go on, but happy to reopen later.

[2020-02-09 00:51] #344 closed

[2020-02-09 01:01] NickCraver commented on #353
To be honest, I'm not sure what this looks like. But, in general I've migrated the project to `IOptions<T>` for the .NET Core 3 migration - this is a lot more flexible and pluggable and likely makes this a lot more doable.

[2020-02-09 01:09] #360 closed

[2020-02-14 12:16] arielbvargas commented on #356
Hi Nick! Thanks for your amazing job. I´ve updated opserver and PagerDutySettings.json. I still get:

![image](https://user-images.githubusercontent.com/22923/74531181-ada8a780-4f0a-11ea-9bcc-6e87e4e01382.png)

What do you suggest in order to solve this issue?

Thanks in advance!

[2020-02-25 00:02] PeteGoo commented on #150
@NickCraver Don't suppose you ever added Query Store support somewhere I can't see?

[2020-02-25 12:01] NickCraver commented on #150
@PeteGoo I haven't yet, no. But I've picked up recently, we're working out the .NET Core and Docker kinks, then since we're now using Query Store at Stack Overflow, I intend to poke it as a new feature in the coming weeks. #355 is almost ready :)

[2020-02-25 16:54] PeteGoo commented on #150
Excellent. Thanks

[2020-03-07 15:31] NickCraver commented on #356
Hmm, check out `/admin/errors` where the error log details are accessible - see if we can get more info about what the API *did* respond with. Maybe there's a data type it's not handling here.

[2020-03-07 15:35] NickCraver commented on #349
@Rabosa616 heads up: there's a `Dockerfile` up and working in #355. I need to put a lot of effort into docs in general though. Basically, mount the existing `/Config` directory to the image and the .NET Core version will pick it up.

[2020-03-10 14:26] Rabosa616 commented on #349
I was testing the repo and I can only build the image if I remove the copy nuget.config into the image due to if is there says something about ssl and no connection to the myget repos.
Does this happends to you also?

[2020-03-10 22:23] NickCraver commented on #349
Nope not at all - do you have MyGet blocked by a firewall perhaps?

[2020-04-09 12:38] maurmun opened #372 "Cpu usage for SQL Server showing wrong values"
The CPU graph is showing wrong values, which are always higher than the normal values. This is the way how values are calculated inside the RING_BUFFER_SCHEDULER_MONITOR  record of  the sys.dm_os_ring_buffers.
 in the following query

Select /* SQL\SQLInstance.CPUHistory.cs@16 */
 DateAdd(s, (timestamp - (osi.cpu_ticks / Convert(Float, (osi.cpu_ticks / osi.ms_ticks)))) / 1000, GETDATE()) AS EventT

[2020-05-10 13:11] NickCraver commented on #372
I'm unclear what the bug is here: the SQL tab is showing how much CPU SQL Server itself is using, but this calculation would be _how much the machine is using_, which is not the same thing (and not useful for multiple instances on the same machine, for instance). Is the mismatch in expectations here?

[2020-05-10 21:06] maurmun commented on #372
Well, the RING_BUFFER_SCHEDULER_MONITOR record returns wrong values for the ProcessUtilization as the number of cores/logical processor/sockets goes higher or the cores per socket goes higher. It's clear that it reports the CPU usage of SQL Server and not the whole box, but oh high-end machines it's always higher (and of a great degree) than the real usage; this value is correct only on  1 core or

[2020-05-10 21:11] maurmun commented on #372
https://support.solarwinds.com/SuccessCenter/s/article/CPU-utilization-is-not-displayed-properly-in-DPA

[2020-06-28 21:02] rhubley opened #379 "Support for ASP.NET Core HealthChecks"
I'm curious if you have considered supporting ASP.NET Core HealthChecks in Opserver?

[2020-06-30 14:39] rhubley opened #380 "BosunDataProvider: ApiResponse can be null here"
https://github.com/opserver/Opserver/blob/ed57f51d26a061e75359c1a3245786b795ae93b7/Opserver.Core/Data/Dashboard/Providers/BosunDataProvider.cs#L180

JoinNetwork can handle a Null value is below could work or shortcut a return
[code]

[2020-07-07 04:12] NickCraver commented on #380
Fixed in #380, thanks!

[2020-07-07 04:12] #380 closed

[2020-07-07 04:18] #354 closed

[2020-08-14 09:09] HugoS99 commented on #296
Any update on this issue?

[2020-08-19 07:44] hayriozler opened #382 "Historical data"
that would be good to have to keep historcial data into somewhere(SQL Database or , NoSQL database) at least last 3 months.

Than we can able to compare some values.

Thanks

[2020-08-19 08:08] hayriozler opened #383 "SQL-Query task frequency."
Hi,

Is it possible to create different frequency and configuration screen foreach SQL queries. for an example

I would like to run : CPU utilization query every 5 seconds but Database but top expensive queries every 10 seconds etc.

[2020-10-16 17:25] abjoseph opened #384 "Opserver Documentation - Broken Link/Missing File"
In the Opserver Configuration Section, the hyperlink "**Here’s an example configuration monitoring lots of things with comments**" is broken and the file it refers to is not in the repository, I also searched the `craver/aspnetcore` branch. A screenshot of the issue is shown below:

![image](https://user-images.githubusercontent.com/26844547/96289364-ebd2fb00-0fb2-11eb-866d-b6a6b9f572b0.png)

![im

[2020-11-02 08:12] Sacha-K opened #385 "Web site is kind of broken in Edge"
Using the master branch (commit from 2020/05/08), Microsoft Edge, and WMI so only data stored in RAM.

There is no refresh. Stuck on the no data yet when web site starts, must do F5 to have the data displayed. Then must do F5 to have the new data displayed when web site is running. In Chrome the text data refreshes on its own sometimes, never looked at how this is done.

The CPU, RAM, and network

[2020-11-02 10:33] Sacha-K commented on #385
It was an issue with the browser using an old version of Scripts.js from its cache.

Should use `asp-append-version="true"` maybe to force a refresh.

[2020-11-02 10:33] #385 closed

[2020-11-26 02:37] a221730971 opened #386 "Error During Remove PollNode"
I tried to modify the PollingEngine to apply in my project.
I found a error when I tried to remove a PollNode during it had polling.
So, I use _pollAllLock lock Add() and Remove().
The error doesn't happened again.

Thanks for your contribute.

[2021-03-19 02:15] nickluu2018 commented on #240
Does this branch is available

[2021-03-22 03:05] nickluu2018 opened #388 "Please help to explain perNodeSettings"
Can someone explain to lines inside the perNodeSettings

"perNodeSettings": [
    {
      "pattern": "EDGE\\d+ \\(INAP\\)", // Regex pattern to match against
      "primaryInterfacePattern": "GigabitEthernet0/0/0", // Example setting - any of the above (e.g. warning/critical thresoholds) work
    }

Thank you very much

[2021-03-25 05:54] nickluu2018 opened #389 "DashboardSettings - Node grouping per application"
I am try to categorise node per applicaton. However, there is senarios where there are several applications sharing the same node.

"categories": [
	{
      "name": "APP 1", // Name for this group of servers
      "pattern": "wfe600|srs603|DB751|DB752"
	},
	{
      "name": "APP 2", // Name for this group of servers
      "pattern": "wfe600|srs604|DB751|TDB752"
	}
]

Is it possible?

[2021-03-30 22:55] nickluu2018 opened #390 "Setup non-admin user account for WMI provider"
Hi all,

Please help, We setup OpServer using AD user account with "Local Administration" privileges. Everything is working perfectly.

However, We have been trying to setup non-admin AD user acccount with minimal privileges such as:
-Memeber of local group "Event Log Reader", "Performance Monitor Users", "Performance Log Users", "Remote Mangement Users", "Distributed COM Users"
-User has Full per

[2021-04-20 23:33] nickluu2018 opened #394 "Cluster with multiple instances"
We have the WSFC with 4 nodes and 3 instances. How can we setup the SQLSetting jason file correctly.
Thanks

[2021-05-13 06:50] mark-emc opened #396 "Docker "No security provider was found!""
I have Opserver running fine in Visual Studio and was hoping to test out the docker image using the exact same config, like so:

The Config folder seems to be mounted and accessible in the container:

Opserver however still complains that "No security provider was found!". Any idea what's going wrong?

[2021-05-14 02:11] mark-emc commented on #396
Spotted the craver/aspnetcore branch. Closing this issue as there's clearly configuration changes present (ie. Config/SecuritySettings.json expected instead of Config/SecuritySettings.config).

[2021-05-14 02:11] #396 closed

[2021-07-01 14:27] TheAccidentalDBA commented on #338
I know this is an old thread, but could you give an example of how this connection string is formatted?

[2021-08-30 07:09] itssimple opened #398 "Dashboard: Fix network speed to use proper unit"
Currently the dashboard shows in Mb/s, when it's actually in MB/s.

![](https://itssm.pl/3sWpeCx)

![](https://itssm.pl/2WEo2b2)

[2022-01-03 02:55] fasteddys opened #400 "Update nugets build errors on Opserver ASP"
Hello I am getting errors on latest NuGet updates, with asp CORE 6, can you please update and check in.

![image](https://user-images.githubusercontent.com/96149622/147900323-41668ec8-38e3-4513-8ec6-0c47d0dff4b0.png)

[2022-01-03 22:54] NickCraver commented on #400
@fasteddys Which branch are you updating here? I'd imagine there are maybe some build errors on net6.0 for the craver/aspnetcore - I'm not primary on this at the moment but will take a poke tonight.

[2022-01-03 23:51] fasteddys commented on #400
Hi @NickCraver you are correct it is the AspNetCore, it was very few, like only 6 or 7 errors.

I was able to fix 4 of those easily by swapping out the deprecated namespaces / function calls.

[2022-01-04 01:43] NickCraver commented on #400
@fasteddys I'm taking a look but will need someone to give it a spin and see if everything still works. Doing a lot of other net6.0 love at the same time.

[2022-01-04 03:22] NickCraver commented on #400
@fasteddys I opened a PR here but can't test at the moment, if you're able to give it a go... https://github.com/opserver/Opserver/pull/401

[2022-01-05 03:11] fasteddys commented on #400
Thanks I am trying it now, the build was smooth, polite reminder, some of the Nugets are showing out of date.

Is there some guidance on how to contribute with some Modules/new functionality or how to extend this, perhaps a `picture / hooks / components / architecture`

![image](https://user-images.githubusercontent.com/96149622/148154728-d0785245-5d45-4657-9846-2955398fabf9.png)

[2022-01-05 03:25] fasteddys opened #402 "Config / Default folder missing in build"
Hello, since the documentation refers to the Config quite a bit -- which happens to be missing.

I would like to request that at least for new users it would be nice to have a sample config file and folder in place with the download with some defaults or commented out sections.  Something that would run easy on a Dev machine with IIS.

![image](https://user-images.githubusercontent.com/96149622/14

[2022-01-12 05:13] #400 closed

[2022-01-29 20:40] fasteddys commented on #402
Hello @NickCraver can you please share some guidance, thats for the asp 6 update.

Currently we are using this as a learning project on general monitoring, however we have a dev. env. in class.
Are there any public infrastructure data sources or localhost data sources configs that we could use/you could include in this branch to run this and monitor.

[2022-02-04 19:01] peschkaj opened #404 "Additional filtering in exceptions view"
The Exceptions tab provides a lot of information to help investigate exceptions. One problem that we've noticed is there's no way to search for a particular exception _and_ filter by host, URL, etc.

When prototyping this, we've added separate boxes for filtering:
![image](https://user-images.githubusercontent.com/71570/152587437-c30a8b69-fc62-4564-98b7-b001def1f0f8.png)

I'm interested in your th

[2022-02-10 05:16] dalehhirt commented on #404
Would it be easier to just have one text box, then filter on all columns by that text box?

[2022-02-10 11:21] peschkaj commented on #404
That's what the current search box does. There are cases where the same string appears in multiple fields, making the search noisy.

After discussing this with @NickCraver, we're going to use the same filter UI that's on pages like Top SQL.

[2022-02-23 15:14] jzhang-sre opened #405 "System.NullReferenceException When Oncall Schedule Doesn't Have User"
We have an on call schedule that only has people during the weekend, it's blank during the weekday so we get this object reference error:

[code]

My C# is bad but I think an if statement wrapping the following line checking if the fields in the object are not null would fix this.

https://github.com/opserver/Opserver/blob/ed57f51d26a061e75359c1a3245786b795ae93b7/Opserver/Views/PagerDuty/PagerDuty

[2022-03-08 13:43] NickCraver commented on #405
hmm, this would seem to imply we get a schedule that has a null entry which seems off upstream - can anyone at Stack verify? (I don't have data access). FWIW, it'd be super helpful if the team could sanity check the #401 branch - I'm not sure what Stack's using at the moment but Opserver's ready to merge down to main on a LTS release if that's good with y'all.

For example, I can't tell which bran

[2022-03-10 21:37] #404 closed

[2022-06-01 10:40] movergan opened #411 "Redis: "An invalid IP address was specified." for master node"
I have the following config:
[code]
If I go to any replicas, I get correct information, when I go to Master, I get this 500 error:
[code]
The same error is on the dashboard.

I use Redis server 1 master 2 replicas, installed via Bitnami helm chart in K8S.
Image version is: "docker.io/bitnami/redis:6.2.6-debian-10-r146"

[2022-08-12 02:18] grumpykiwi opened #412 "Issue With OIDC Authentication"
After quite a lot of fiddling to get things working. OIDC authentication is at least getting back to the home page. But now it shows a message saying it is not configured with a link to the about page where I see a big old error.

The summary error is:

The provided identity of type 'System.Security.Claims.ClaimsIdentity' is marked IsAuthenticated = true but does not have a value for Name. By defa

[2022-11-22 06:22] mdsadullah718 opened #414 "CPU Utilization and charts not showing in IIS deployment"
Hi, In development everything works fine, but when I deploy in IIS, CPU utilization and charts are not working.  Can anyone help me fix this issue. Thank you.
![opserver_issue](https://user-images.githubusercontent.com/26851806/203239773-82c8d886-e470-47d1-894f-05a5408d6703.png)

[2022-11-22 13:30] mdsadullah718 commented on #414
In IIS i changed the application pool settings and the issue is solved.

[2022-11-22 13:30] #414 closed